[2014-08-20 19:06] thashim opened #1 "Docker fails to launch galaxy instance."
using command `docker run -d -p 8080:80 bgruening/galaxy-stable` and accessing port 8080 of the target server gives:

[code]

Dumping the launch log via docker logs gives

[code]

Full log at http://privatepaste.com/9373f62213

Perhaps unrelated, but attempting to build the dockerfile locally gives:

[code]

at step `Step 60 : RUN service postgresql start && sleep 5 && python create_galaxy_user.py

[2014-08-21 07:10] bgruening opened #2 "Integrate a DRM into the container and Galaxy"
It would be nice to integrate slurm or condor into docker. Condor has some nice features to communicate with other SGE/OGE based systems. So we currently prefer (slightly) Condor.

[2014-09-20 06:07] jmchilton opened #6 "Rework image so /galaxy-central is not modified"
Move all configuration files out of that directory - update commands to point to these new configuration files.

I think this would provide a clearer upgrade path over time for people running these images but I think the more important feature of it would be that could expose a local copy of galaxy-central using the `-v` option and then use this same container for automated testing during `galaxy-

[2014-09-24 03:14] #1 closed, assigned to nobody

[2014-09-28 14:15] bgruening opened #8 "Add new nginx 50x error page ..."
... , indicating that Galaxy needs a few seconds to start. Galaxy logo, liks to wiki, videos and biostars.

[2014-10-15 12:42] bgruening opened #9 "FTP Server integration"

[2014-10-15 14:18] bgruening opened #10 "Export display_application and index.html to the host system."

[2014-10-16 13:58] sarah-peter opened #11 "remove servers.ini"
Since the servers.ini is appended to galaxy.ini, it's not required anymore and doesn't need to be part of the persistent config files that get copied to the host.

[2014-10-17 14:27] sarah-peter opened #12 "database/files and database/job_working_directory are not exported to the host system"
The symlinks of those directories from /galaxy-central to /export are not made. Maybe because the source directories do not exist when the server is started?

[2014-10-17 14:39] sarah-peter opened #13 "Export integrated_tool_panel.xml to the host system."
The seems to be in /galaxy-central and not in the config directory, so it's not exported to the host system.

[2014-10-18 12:38] #11 closed, assigned to nobody

[2014-10-18 12:41] #13 closed, assigned to nobody

[2014-10-18 12:42] #12 closed, assigned to nobody

[2014-10-18 13:13] #10 closed, assigned to nobody

[2014-10-20 15:24] sarah-peter opened #14 "Do "apt-get install zlib1g-dev""
I noticed that quite some tools from the toolshed expect zlib (headers) to be installed (even if they bring their own dependencies like vcftools from devteam).

[2014-10-20 22:42] #14 closed, assigned to nobody

[2014-10-21 13:32] sarah-peter opened #15 "Add second mount point for external data"
e.g. VOLUME ["/data"]

[2014-10-21 16:03] #15 closed, assigned to nobody

[2014-10-21 17:22] bgruening opened #16 "Use pbkdf2 to encrypt user passwords."
For the time being we will stick to sha2 to encrypt user passwords. If we migrate to a newer base image, with a more recent proftpd version we should switch over to use PBKDF2.

For now we have: `pbkdf2 = False` in galaxy.ini and `User.use_pbkdf2 = False` in `create_galaxy_user.py`

[2014-10-22 14:23] #9 closed, assigned to nobody

[2014-10-22 14:25] #2 closed, assigned to nobody

[2014-10-23 02:36] #6 closed, assigned to nobody

[2014-10-23 12:07] sarah-peter opened #18 "bash: warning: setlocale: LC_ALL: cannot change locale"
root@deep2: ~ $ docker run -t -i -v /docker_vm/:/export/ -v /data/:/data/ -p 8080:80 -p 21:21 bgruening/galaxy-stable /bin/bash
bash: warning: setlocale: LC_ALL: cannot change locale (en_US.utf-8)
root@fb26a2c66c74:/galaxy-central# echo $LC_ALL
en_US.utf-8
root@fb26a2c66c74:/galaxy-central# startup
/bin/bash: warning: setlocale: LC_ALL: cannot change locale (en_US.utf-8)

[2014-11-03 08:51] #18 closed, assigned to nobody

[2014-11-05 15:38] diehlsa opened #22 "fasta_clipping_histogram missing GD/Graph/bars.pm"
What would be the suggested way to fix this? Tool and dependency are coming from the toolshed, so technically the package_fastx_toolkit_0_0_13 would need to include the GD::Graph::bars perl module as a dependency.

---

job id: 45533
tool id: toolshed.g2.bx.psu.edu/repos/devteam/fasta_clipping_histogram/cshl_fasta_clipping_histogram/1.0.0
tool version: 1.0.0
job pid or drm id: 1432
job tool versio

[2014-11-05 15:48] diehlsa opened #23 "More jobs in parallel"
What do I need to change in order for slurm to use the 64 cores my server has? How do I allow each user to run e.g. 5 concurrent jobs, with a max of 10 concurrent jobs overall and max. 4 cores per job?

I tried changing the job_conf.xml accordingly, but nothing changed, it still just ran one job at a time.

[code]

[2014-11-12 12:28] sarah-peter opened #24 "tool "Extract Genomic DNA" needs faToTwoBit"
/galaxy-central/tools/extract/extract_genomic_dna.py issues a call to faToTwoBit. Since the wrapper is inside the container, any change would not be persisent.

[2014-11-12 12:33] #24 closed, assigned to nobody

[2014-12-15 18:29] hexylena opened #29 "Supervisord galaxy group should contain all galaxy processes"
IMO, the `[group:galaxy]` should contain all galaxy processes, so users restarting galaxy can simply `supervisorctl restart galaxy:`. This is in reference to [today's discussion](https://botbot.me/freenode/galaxyproject/2014-12-15/?msg=27625224&page=2) on IRC.

This would look like:

[code]

sorry, would PR but other things going on

[2014-12-17 14:49] #29 closed, assigned to nobody

[2015-01-16 22:41] jmchilton opened #31 "More places /galaxy-central is modified"
Addressing all of these probably requires changes to Galaxy.

 - [ ] `database/tmp/upload_store` - should be placed somewhere else, maybe just `/tmp/galaxy_upload`.
 - [ ] `ADD ./servers.ini /galaxy-central/config/servers.ini`
 - [ ] `ADD ./job_conf.xml /galaxy-central/config/job_conf.xml`
 - [ ] `RUN  cd /galaxy-central/lib/galaxy/web/proxy/js && npm install`
 - [ ] Welcome `ADD GalaxyDocker.png

[2015-01-16 22:42] jmchilton commented on #31
@bgruening Not expecting you to address this I will get to it someday - but I wanted to track it. I can track on Trello if you would prefer to close out the issue.

[2015-01-16 22:43] bgruening commented on #31
It's perfectly fine. We also have some contributors so hopefully we will get some help :)

[2015-01-16 23:51] ajmazurie opened #32 "Can't connect to Galaxy via FTP"
Hi,
There is a good chance the following is due to my own misunderstanding of how the FTP server which is shipped with Galaxy is configured, but here it is. I am testing the FTP connection with a vanilla Galaxy container and cannot get past a '530 Login incorrect' error. I checked that the container's port 8021 was mapped to localhost:21, so I don't think the problem is there.

Something that woul

[2015-01-17 09:30] bgruening commented on #32
@ajmazurie can you please try the user `admin@galaxy.org` and the password `admin`. More information are available in our [readme](https://github.com/bgruening/docker-galaxy-stable#users--passwords).

Let me know if this does not help or if we can improve our documentation.
Cheers,
Bjoern

[2015-01-17 16:17] ajmazurie commented on #32
Dear Björn,
Unfortunately I get the same issue:

[code]

Note that ajmazurie/galaxy-base:dev is nothing else that bgruening/galaxy-stable:dev with additional files in /galaxy-central/static/

Best,
Aurélien

[2015-01-17 16:25] bgruening commented on #32
Hi,

how do you start your container?
If you do it like the following snippet, you need to use port `21`, **not** `8021`.
[code]

[code]

[2015-01-18 17:49] ajmazurie commented on #32
Hi,
Unfortunately I end up with a time out. Have you tried to do a simple `ls` in your example above? When I do I get the following:

[code]

[2015-01-18 18:02] bgruening commented on #32
`directory listing` is deactivated and I don't know why. This is a known bug, but you should be able to transfer files.

[2015-01-20 17:10] ajmazurie commented on #32
Shouldn't this be an officially listed bug? Without the ability to list content, no GUI-based FTP client will work, since that's pretty much the first thing they do once connected. As such, it is a major usability issue. Do you know if this only happens when using the Dockerized version of Galaxy?

[2015-01-20 17:20] bgruening commented on #32
The problem is that I'm not able to reproduce this. `gftp` for example is working and it is a graphical client.
Please feel free to create an issue on this. I need time to reproduce it and fix it finally.
Are you able now to transfer data?

[2015-01-20 21:13] ajmazurie commented on #32
After trying the stock ftp unix utility with the same issue, I was able to use a graphical client which didn't attempt to do directory listing. I'm currently copying data over, so it appears to work. Thanks for the help!

[2015-01-31 03:41] jmchilton opened #36 "Proftp Problem in dev branch"
From @bgruening - "I can transfer data to proftp but Galaxy is not able to pick them up. This is because the permissions of the user FTP data is wrong."

I am not sure what the fix here is - this problem is the result of running Galaxy as a non-root user right (not the ansible changes)? Should we ensure /export/galaxy-central/database/ftp exists in `export_user_files.py` and owned by the Galaxy us

[2015-01-31 08:36] bgruening commented on #36
Imho it is not related to `non-root` Galaxy. Galaxy should be able to chown the created user directory, in this case `admin@galaxy.org`.

In our `proftpd.conf `file:
 `SQLNamedQuery LookupGalaxyUser SELECT "email,password,'galaxy','galaxy','{{ proftpd_files_dir }}/%U','/bin/bash' FROM galaxy_user WHERE email='%U'"`
galaxy, galaxy indicates the uid,gid of the Galaxy user that should own the directo

[2015-01-31 23:19] bgruening commented on #36
I think I have fixed it when https://github.com/galaxyproject/ansible-galaxy-extras/pull/3 or a similar patch get's merged and the git submodule is updated.

[2015-02-01 02:03] jmchilton opened #38 "Proxy Reports on `80/reports`"
See comment https://github.com/galaxyproject/ansible-galaxy-extras/pull/4#issuecomment-72347099 - I think it would be more convenient for both personal instances and institutional/public servers. Not immediately obvious how to do this though since it requires some nginx magic to conditionally password protect that route.

[2015-02-01 02:08] jmchilton opened #39 "Proxy node proxy via nginx."
This would prevent one from having to open yet another a port.

Might even be worth investigating replacing the node proxy with nginx plugin the way [narrative](https://github.com/kbase/narrative) does it.

[2015-02-01 02:11] jmchilton opened #40 "Dynamic Control of Supervisor at Startup"
Allow runtime specified environment variables to control:
 - [x] Whether optional components are enabled (node proxy, reports, proftpd...)
 - [x] The number of job handler processes.
 - [x] The number of uwsgi processes (fixed in https://github.com/bgruening/docker-galaxy-stable/pull/113).

[2015-02-01 10:31] bgruening commented on #40
Deactivating components on startup can be handled in the `startup` script.
I don't see any elegant way to set the uwsgi processes. Afaik supervisord can not read ENV variables. Same applies for the job handlers. We could rewrite both files on startup. What do you think?

[2015-02-01 11:11] bgruening commented on #23
I will close this now. Feel free to open it again if this problem still exists. Thanks Sarah!

[2015-02-01 11:11] #23 closed

[2015-02-01 11:22] #36 closed

[2015-02-01 17:53] jmchilton opened #42 "Implement "copy when modified" semantics for `galaxy.ini` and `job_conf.xml`"
See comments in https://github.com/bgruening/docker-galaxy-stable/pull/37#issuecomment-72343413.

Should be done before `dev` is merged into `stable`.

[2015-02-02 06:32] jmchilton commented on #40
We should probably replace the `uwsgi` block in galaxy.ini with command-line specification of all that stuff in `supervisor.conf`. Playing around with it - it seems the following works:
`PYTHONPATH=./eggs/PasteDeploy-1.5.0-py2.7.egg uwsgi --paste config:/home/john/workspace/galaxy-central/config/galaxy.ini --processes 3 --threads 4 --logto ./uwsgi2.log --socket 127.0.0.1:4001 --pythonpath lib  --s

[2015-02-22 12:56] bgruening commented on #39
It seems that the current node proxy is not working well with docker next to docker, aka parent docker. Furthermore, OS-X users are not able to use the proxy at all. I don't have a OS-X by hand, so if anyone want to help here, please jump in.

[2015-02-22 12:57] bgruening commented on #32
Very nice, will close this issue now. Feel free to reopen if there are new problems.

[2015-02-22 12:57] #32 closed

[2015-02-22 13:05] bgruening opened #43 "Split image into smaller chunks and reuse other images"
We should remove [postgresql](https://registry.hub.docker.com/_/postgres/) and proftp from the main image and base this on the original image. Orchestration can be done [fig](http://www.fig.sh/).

Not sure how this can work with the new ansible rules.

[2015-02-28 09:29] bgruening commented on #39
Maybe this can be useful: https://github.com/jupyter/configurable-http-proxy

[2015-03-05 14:36] jmchilton commented on #43
Were you thinking this (e.g. fig) would be required to run it, or would it be optional way to run things?

[2015-03-05 14:55] bgruening commented on #43
There is a lot of work currently done for [orchestration](http://blog.docker.com/tag/orchestration/) docker instances. fig is only one possibility that makes it easier to put docker images together. I think fig is integrated in the latest version of docker orchestration.
Either way this is purely optional, but as soon as you have 3 or 4 different containers (nginx, postrgesql, proftp ....) you wan

[2015-03-05 15:08] dannon commented on #43
+1 to this plan.  It's a lot of work and things are still changing so fast
that it's worth it to watch for a little bit.

On Thu, Mar 5, 2015 at 9:55 AM Björn Grüning <notifications@github.com>
wrote:

[2015-03-05 19:54] bgruening commented on #31
In preparation of the next release I will try to fix the welcome.html page and the DockerImage. This will not require any changes to Galaxy.

Will copy both to /etc/galaxy/ and detect the presence of 'index_logo.png' and `welcome.html` in `/export`.

[2015-03-05 19:56] jmchilton commented on #31
Here is my initial attempt to fix galaxy.ini and job_conf.xml: https://github.com/jmchilton/docker-galaxy-stable/commit/9f2ad350fecdffa36517ea9283d5bebe59604276. Does this look right?

Also been looking into proxy issues today... yuk.

[2015-03-05 20:01] bgruening commented on #31
Yes this seems good to me!

[2015-03-06 00:13] bgruening commented on #38
I have this working locally. PR tomorrow.

[2015-03-07 01:09] steve-federowicz commented on #32
I am having the same issue with the base image and actually cannot get gftp to work either.  I was initially using FileZilla which is one of the most common clients (setting this up for biologists) and I think by default it does a directory listing.  I even just tried the bare ftp client and lftp without doing a directory listing and was still unsuccessful in transferring any files, lftp looked li

[2015-03-07 12:55] bgruening commented on #38
This should work now in master and will be released with the new Galaxy stable release.

[2015-03-07 12:55] #38 closed

[2015-03-07 12:59] bgruening commented on #38
You can disable authentification with `-e "DISABLE_REPORTS_AUTH=True"`

[2015-03-07 13:01] bgruening commented on #40
`-e "NONUSE=nodejs"` will not start the nodejs server. `nodejs`, `proftp` and `reports` are currently supported. `-e "NONUSE=nodejs,reports,proftp"` is also possible.

[2015-03-07 13:06] bgruening commented on #31
All files in `/export/` beginning with `welcome` will be copied to `/etc/galaxy/` and served from there.
`GALAXY_CONFIG_WELCOME_URL` is set to `$GALAXY_CONFIG_DIR/welcome.html` so as soon as you have a `welcome.html` file in `/exports/` it will be copied to `/etc/galaxy/` and you will see your individual start page.

[2015-03-07 13:07] bgruening commented on #8
Also a 404 error page for `reports` would be nice to indicate that you need to start the `service`.

[2015-03-07 13:10] bgruening commented on #40
Regarding to dynamic job handler and uwsgi processes  ... could we write small scripts with `PYTHONPATH=./eggs/PasteDeploy-1.5.0-py2.7.egg uwsgi --paste config:/home/john/workspace/galaxy-central/config/galaxy.ini --processes $UWSGI_PROCESSES --threads $UWSGI_THREADS --logto ./uwsgi2.log --socket 127.0.0.1:4001 --pythonpath lib --stats 127.0.0.1:9191` and call this script from supervisor?

[2015-03-07 16:26] bgruening commented on #32
Hi @steve-federowicz,
can you please test the new :dev branch: `bgruening/galaxy-stable:dev`
I hope the FTP issue is finally fixed.

Moreover we have integrated a few now tools and features to make adjusting Galaxy easier. For more details please see the new readme file.

PR are always welcome! In this case I'm not sure I understand you correctly. `galaxy`:`galaxy` is not an FTP account. FTP accou

[2015-03-07 16:28] bgruening opened #46 "Documentation needed"
We need some best practice guideline how to:

* [x] upgrade images
* [x] use slurm to submit to host scheduler

[2015-03-13 00:30] jmchilton commented on #31
Yeah - my first few attempts at the galaxy.ini were pretty broken. Rethinking things now - still hoping to open a PR soon - sorry for the delay.

[2015-03-13 19:26] bgruening opened #48 "Welcome page results in an cross origin problem"
With the move of `welcome.html` to `/etc/galaxy` we added a new location to the `nginx.conf`

[code]

Unfortunately, this seems to result in a cross origin request from `localhost:8080`. If we run the container on port `80` everything works fine. The error on any other port is:

[code]

I guess we need some nginx magic here.

[2015-03-13 19:32] #42 closed

[2015-03-13 19:32] bgruening commented on #42
Thanks John!

[2015-03-18 17:26] erasche commented on #48
nginx conf from https://github.com/galaxyproject/ansible-galaxy-extras/blob/master/templates/nginx.conf.j2#L118 ?

[2015-03-18 17:44] bgruening commented on #48
Yes, via the git submodule.

[2015-03-18 17:49] erasche commented on #48
Just wanted to confirm...

[2015-03-23 18:47] #48 closed

[2015-03-26 09:21] bgruening opened #50 "Tool downloads are not working"
From Kyle:

-----

Trying to use the tool download function, ie /api/tools/tool_name/download
and I get a 404.

Example:
[code]

The Galaxy log does just fine:
[code]

[2015-03-26 09:22] bgruening commented on #50
My guess is that we need to add this download location to nginx, will try this later today.

[2015-03-27 09:30] #50 closed

[2015-04-30 10:15] bgruening opened #53 "add database migration script"
Add on option to migrate the Galaxy database via an ENV variable or a special entry point. This should make it easier to migrate from one galaxy-docker version to a new one.

[2015-05-05 13:14] ChristianKniep opened #54 "Ansible within Dockerfiles"
Hey Björn,

I just learned about Galaxy and I would like to introduce it to my QNIBTerminal; which provides an virtual HPC environment (logging, monitoring, inventory, slurm).

Looking at your Dockerfile I feel you kind of cheating, since you use Ansible to install galaxy...
If you don't mind me accusing you... :)
Is Galaxy that a pain in the a** to install, that you hide it; of is it just to not

[2015-05-05 13:42] ChristianKniep opened #55 "Ansible-playbook does fail on me"
Me again, I try to build the image and got this:
[code]

[2015-05-05 14:07] bgruening commented on #54
Hi @ChristianKniep,

if you go back in the git history you will see that the first image was doing every single bit on it's own. It was also using Apache2 and not nginx. With the official support for the Galaxy Ansible playbook (afaik [usegalaxy.org](usegalaxy.org) is using it) we switched over to use this instead of our own setup. [DRY](http://en.wikipedia.org/wiki/Don%27t_repeat_yourself) princi

[2015-05-05 14:08] bgruening commented on #55
@ChristianKniep have you followed https://github.com/bgruening/docker-galaxy-stable#development and checked out the Ansible playbook submodule?

[2015-05-05 14:31] ChristianKniep commented on #54
Hey Björn,

DRY is all sound and good, but you kinda break the sweetness of the overlaying filesystem if you hide what's going on within a configuration mgmt tool.
Granted, this is a little bit sluggished by the tendency (good one, though) to save steps by putting multiple commands into one long RUN step. But still....

I eleobrated my first thoughts on it here: http://qnib.org/2014/12/19/Docker-a

[2015-05-05 14:36] ChristianKniep commented on #55
I forked it, thus I seem to fail on the submodule thing...
Checking it out like you discribed is getting up to speed. :+1:

[2015-05-05 14:42] bgruening commented on #54
Hi Christian,
I'm more in favor of sharing the burden and have a solid base image by sharing installation instructions. Moreover, we where hitting the allowed max size of Docker layers ;) so I constantly try to put more and more into one layer until this is extended (maybe it already is?).

We already have a lot of Galaxy flavors that build ontop of this base image.
See the following image how we

[2015-05-05 14:42] ChristianKniep commented on #55
Not so fast... :(
[code]

[2015-05-05 14:46] ChristianKniep commented on #54
Ahh... The limit - hit it myself and I guess it's still the same 128(-ish).
Cool, yeah, that sounds very reasonable. To wrap my head around it I will start with the 'hello-world' example of a Galaxy environment and come back to the more complex variants later. :)
But that's just me, since I am not a Bioinformatics guy by heart.

Thanks a bunch
Christian

[2015-05-05 14:46] #54 closed

[2015-05-05 18:22] bgruening commented on #55
@ChristianKniep it's working for me and Docker Hub is also happy.
Which Docker backend are you using? Switching might help, depending on your OS.

[2015-05-18 08:17] ChristianKniep commented on #55
Ok, I will check it out when I return to galaxy. Thx

[2015-05-18 08:17] #55 closed

[2015-05-19 18:30] dpryan79 opened #56 "Passive ftp"
While proftpd works for uploading files, passive ftp via it won't work since the passive ftp ports aren't exposed. The default range is 30000-40000, but of course exposing that many ports isn't feasible. One possible method around this would be to change proftpd.conf and set `PassivePorts` to a smaller range and then exposing that in the Dockerfile. Even exposing these from the command line is eno

[2015-05-19 19:09] bgruening commented on #56
@dpryan79 what is a smaller acceptable range?

[2015-05-19 19:18] dpryan79 commented on #56
30000-30100 would likely suffice for smaller instances (e.g., our deeptools instance). The startup time isn't a problem with only ~100 ports, though it would be with more (I figured I'd try the full 30000-40000 and that took forever and resulted in iptables not being able to allocate enough memory). Perhaps the best solution would be to `EXPOSE :30000-40000` in the Dockerfile and use a symlink to

[2015-05-23 17:55] bgruening commented on #56
@dpryan79 I assume you need this because of your "directory listing" problem? Can you try to set `--net=host` during startup and see if this fixes your problem?

[2015-05-26 08:40] dpryan79 commented on #56
Indeed, this seems to solve the problem. I'm using this now on my test with HTCondor integration, so I'll let you know if something is somehow broken by this (it shouldn't cause any issues).

[2015-05-26 09:10] bgruening commented on #56
Great! Feel free to close this bug. I will try to enhance the documentation.

[2015-05-26 09:10] #56 closed

[2015-05-28 09:54] matthdsm opened #59 "Torque support"
Hi

Are there any plans for torque support through the docker container? Or is this already possible? If so, how would I go about to get this to work?

Thx!
Matthias

[2015-05-28 13:25] bgruening commented on #59
Hi Matthias,

can you specify what you mean with Torque support? Galaxy has support for Torque and you can configure Galaxy in Docker as you want.
Currently, we have Slurm installed inside the container and Galaxy will use Slurm by default, but this should not stop you to configure Galaxy to use something else.

Ciao,
Bjoern

[2015-05-28 13:28] matthdsm commented on #59
Oh I see, that makes my question a non-issue. Sorry, I have no experience with docker and I didn't know it was possible to change those configurations afterwards.

Thanks!
Closing
Matthias

[2015-05-28 13:28] #59 closed

[2015-06-01 14:13] dpryan79 commented on #46
Here are some points that have been important in upgrading our image:

 * Create a test server with only the database and configuration files. This will allow testing to ensure that things run but won't require copying all of the data.
 * Backup and move the config/ directory. Allow the image to create a new default config/ directory and the `diff` the old and new files. This prevents needing to g

[2015-06-01 14:14] dpryan79 commented on #46
Oh, and just because things are in Docker doesn't mean one can skip running `sh manage_db.sh upgrade`.

[2015-06-03 12:37] dpryan79 commented on #46
To get slurm from within the docker instance to talk to an external controller, one needs to do the following:
1. Copy in the appropriate /etc/munge/munge.key and possibly ensure that its permissions are correct.
2. Copy in the appropriate /etc/slurm-llnl/slurm.conf
3. Likely kill slurmd and slurmctld within docker, depending on how things should be run and where the controller is.

(1) and (2) co

[2015-06-03 12:54] dpryan79 commented on #46
Ah, the metadata code didn't get included in the most recent release. Replacing/recompiling `/galaxy-central/lib/galaxy/jobs/runners/drmaa.py` would probably fix things. Since that file was updated in April, I'm a bit surprised it didn't get included in the release 15.05.

[2015-06-03 13:21] jmchilton commented on #46
I keep a special branch for release + docker fixes - in this case it would be - https://github.com/jmchilton/galaxy/tree/release_15.05_docker. I can apply your metadata pull request to it if you would like.

[2015-06-03 13:39] dpryan79 commented on #46
Ah, I had missed that the docker image uses that branch on your repo! Yeah, if you could apply that PR it'd be great. Should I submit a separate PR to fix the drmaa code? The code in the `dev` branch already has all the fixes needed for drmaa.

[2015-06-03 13:54] jmchilton commented on #46
Okay - pushed your PR commits into that branch - https://github.com/jmchilton/galaxy/commits/release_15.05_docker. Each time release_15.05 is updated - that branch will be updated with your changes rebased on top of the latest release code (and the workflow API enhancements from Kyle).

[2015-06-03 14:55] bgruening commented on #46
@jmchilton thanks!
@dpryan79 I triggered a new build.

[2015-06-09 09:05] bgruening commented on #46
@dpryan79  what do you think about the following?

 * Create a test instance with only the database and configuration files. This will allow testing to ensure that things run but won't require copying all of the data.
 * New unmodified configuration files are always stored in a hidden directory called `.distribution_config`. Use this folder to diff your configurations with the new configuration fi

[2015-06-09 11:25] dpryan79 commented on #46
@bgruening That looks good.

I'm working on modifying the `dev` branch to deal with the various slurm and munge files and will just add the documentation to that.

[2015-06-09 11:28] bgruening commented on #46
Great thanks!

[2015-06-11 11:05] #46 closed

[2015-06-19 08:08] wtse168 opened #64 "problem on losing files when docker-galaxy-stable container restart"
docker-galaxy-stable docker restart  will lose all files under galaxy-central/config, and when add lots of tools , it will appear differently on left tool panel.

[2015-06-19 14:36] bgruening commented on #64
@wtse168 can you post me your commandline which you use to start the Docker container?
Is it similar to: `  docker run -i -t -p 8080:80 -v /home/user/galaxy_storage/:/export/ bgruening/galaxy-stable`

If you run it like this you will see a `/home/user/galaxy_storage/galaxy-central/config/` and this should be persistent.

[2015-06-19 17:29] dpryan79 commented on #64
I think I had this happen one with a `docker restart ...` command, which is what I assume @wtse168 did. I'm not even remotely sure how that happened and I've never actually tried to reproduce it (though I probably could on Monday).

[2015-06-19 17:35] bgruening commented on #64
@dpryan79 this would be a serious Docker bug I assume. Let me know if this is a `restart` problem. We would need to add this to the documentation.

[2015-06-19 17:47] dpryan79 commented on #64
Eh, why wait until Monday...

I just tried `docker restart ...` and I can confirm that that results in a blank `/export/galaxy-central/config`. I also get a 403 error when trying to connect to the galaxy webserver (because it has no config files). For what it's worth, the slurm stuff and the database are still there, so it's not like it's just deleting everything under `/export`...though that make

[2015-06-21 17:08] dpryan79 opened #65 "Gnuplot isn't installed by default"
It seems that gnuplot (or at least the python interface to it) isn't getting installed by default. Consequently, things like "Graph/Display Data"->"bar char" don't work. One also can't install the gnuplot-py because it apparently requires numpy but doesn't list that as a requirement (that seems like a toolshed oversight).

[2015-06-22 19:55] bgruening commented on #65
Fixed in #66

[2015-06-22 19:55] #65 closed

[2015-06-22 20:09] bgruening commented on #64
I have a theory:
Line `https://github.com/bgruening/docker-galaxy-stable/blob/master/galaxy/export_user_files.py#L32` will remove the folder /galaxy-central/config. In case of a `restart` this is still a symlink and the `shutil.rmtree()` will follow the symlink.

What does not fit into this theory is that `/galaxy-central/tool-data` is not being removed. Can you confirm this? A fix would be easy,

[2015-06-23 13:05] dpryan79 commented on #64
I can confirm that `/galaxy-central/tool-data` is not being removed.

[2015-06-26 07:26] bgruening commented on #64
@wtse168 can you confirm that this is only happening if you are using `docker restart`?

[2015-06-28 19:22] bgruening opened #67 "Galaxy Docker presentation @ GCC and BOSC"
Hi,

I will give a small presentation at the upcoming Galaxy Community Conference and BOSC about this project. Please feel free to add anything what you think is important for users and developers and should be added!

Thanks,
Bjoern

[2015-06-29 17:27] lparsons opened #68 "Permission denied error when mounting /export/ directory to local disk"
NOTE: I am using boot2docker v1.6.1 on OSX 10.9.5.

Command: `docker run -p 8080:80 -v /Users/lparsons/galaxy_storage/:/export/ bgruening/galaxy-stable`

Result: `/Users/lparsons/galaxy_storage/` is created on my OSX machine and populated with `galaxy_central`, `postgresql`, `shed_tools` and `var` directories.  However, I then run into the following error:

    ==> /home/galaxy/uwsgi.log <==
    T

[2015-06-29 17:31] dpryan79 commented on #68
Make sure that things under `/export` are owned by the galaxy user (uid 1450 I think). uwsgi and most other things are running as that user, so that should allow it to do whatever it needs to.

[2015-06-29 21:02] lparsons commented on #68
The directory is created entirely by the the docker container, it doesn't exist at all prior to executing `docker run` and many directories do get created.

[2015-06-29 21:42] bgruening commented on #68
@lparsons can you provide me with more informations? Docker version? kinematic? Galaxy Docker version? I haven't seen this before.
Also can you look at the permissions for `/export/galaxy-central/database/`?

Thanks and sorry for the trouble!
Bjoern

[2015-06-30 08:26] dpryan79 commented on #64
This problem just bit me. I had previously `docker commit`ed a container wherein I had modified /etc/group and then started that. That deleted all of /export/galaxy-central/config. I have a backup of that directory, so it's an easy fix, but this was a bit disconcerting.

[2015-06-30 14:35] lparsons commented on #68
I ran into this error yesterday with boot2docker/docker version 1.6.1. Today, there was an update to boot2docker/docker version 1.7 and I'm running into the same problem:

[code]

I am not using Kinematic. I don't know how to determine the Galaxy Docker version, but it was freshly downloaded yesterday and again today.

[2015-06-30 15:13] lparsons commented on #68
## Permissions
### Docker Container
[code]

### Boot2Docker VM
[code]

### OSX Host
[code]

[2015-07-08 09:46] matthdsm commented on #67
Do you suppose that docker and galaxy are ready for a full blown production environment?
Or would it be wiser to install manually? Especially when your setup is different than what is used by default (SLURM etc.)

[2015-07-08 10:00] dpryan79 commented on #67
@matthdsm For what it's worth, we've been using this for our production server since November. Using a different scheduler isn't actually that difficult, see for example my [HTCondor-Galaxy](https://github.com/dpryan79/HTCondor-galaxy) variant.

[2015-07-22 17:07] bgruening commented on #67
Presentation is here: https://github.com/bgruening/presentations/tree/master/GCC-2015

[2015-07-22 17:07] #67 closed

[2015-07-29 12:11] ve379 opened #69 "After installing tools and data managers they keep dissapearing randomly"
I installed 10-15 tools, and 2 managers including Reference genome fetch.
When refrechingGalaxy main page, each time tools randomly showing up and dissaperring.
Also happend in Data managers. When refreshed I see 1 of the 2 but never all of it (randomly also).

More over when clicking on some Data manager randomly I see it is missing in a red label at the top, and sometimes it loads properly.
When

[2015-07-29 12:21] bgruening commented on #69
Hi,
this is a general Galaxy problem. You need to restart all Galaxy workers to see your tools and data managers after install. Please [restart Galaxy](https://github.com/bgruening/docker-galaxy-stable#restarting-galaxy) or your Docker container. This will solve your problem! :)

[2015-07-29 12:21] bgruening commented on #69
P.S. Your mail and biostar post are on my ToDo list :)

[2015-07-29 13:50] ve379 commented on #69
Good to hear that this is a general problem :) and not something I did. I restart Galaxy and I seems now normal :) The only cosmetic thing is that lots of tools are not in the group I wanted but in the root menu in the main panel - Can I reorder them somehow?

[2015-07-29 13:52] bgruening commented on #69
You need to change a config file, afaik `./config/shed_tool_conf.xml`.
Glad that it is now working for you.

[2015-07-29 14:17] #69 closed

[2015-07-29 21:05] ve379 opened #70 "Unable to fetch .......[Errno 28] No space left on device"
I have started an upload job for a files 11G each and I got error:

Unable to fetch http://10.98.33.151/web-uploads/R1_trimmed.fq [Errno 28] No space left on device

But I gave 23TB free on the machine :) So probably some file size limitation or?

[2015-07-29 21:26] bgruening commented on #70
Upload - How? Via FTP? Normal Galaxy web browser upload?

[2015-07-29 21:31] ve379 commented on #70
Normal Galaxy via the button at the top of the main page with the arrow, pasting an http:// to the file via link to another machine in the network.

[2015-07-29 21:32] bgruening commented on #70
I'm not aware of any limit with this. What you can do, you can log into the container and look what file system is full and adjust this.

[2015-07-29 21:34] ve379 commented on #70
Do you know how to do that? I'm not familiar with this :)

[2015-07-29 21:36] bgruening commented on #70
`docker exec -i -t <container name> /bin/bash` :)

[2015-07-29 21:41] ve379 commented on #70
I got this:
Size  Used Avail Use% Mounted on
/dev/mapper/docker-8:2-2148666710-4a4a5fff9c  9.8G  9.3G   20K 100% /
tmpfs                                                                                                63G     0   63G   0% /dev
shm                                                                                                  64M     0   64M   0% /dev/shm
/dev/sdb1

[2015-07-29 22:16] dpryan79 commented on #70
It looks like that tool stores things in /tmp, which doesn't have enough room.

[2015-07-29 23:34] ve379 commented on #70
I see, so is there a way overpassing this, for example running the container with option for increased volume? I hope I'm not the only one with such issue. As my files usually are quite big (5-15GB), my preferred way of uploading will be as in this case.

[2015-07-30 06:04] bgruening commented on #70
@ve379 your Docker container is using the filesystem from your host OS. So increasing the volume of you host OS will work. Otherwise you can try to mount in a new `/tmp` dir or try to set the `$TMPDIR`/`$TMP`/`$TEMP` environment variable to a bigger filesystem.

[2015-07-30 06:06] ve379 commented on #70
But my host OS have more then 20TB free currently?!

[2015-07-30 06:09] ve379 commented on #70
From what I see isn't the docker using by default 10GB? or I'm wrong (/dev/mapper/docker-8:2-2148666710-4a4a5fff9c      9.8G      9.3G(USED)    20K(FREE)     100% /)

[2015-07-30 06:15] bgruening commented on #70
Not that I'm aware of. This is on my machine:
`none                                                    440G  291G  127G  70% /`

Check our docker configuration, maybe you Docker backend has some strange settings? I'm running currently the `aufs` backend. Docker runs on your host kernel and they are sharing more or less one filesystem.

[2015-07-30 06:54] ve379 commented on #70
My info says - Backing Filesystem: xfs

I have found this on the net:
1) using a different backend (AUFS or BTRFS)
By starting docker with "-s aufs" or "-s btrfs"

2) using "storage-opt" to increase the devicemapper default size
By starting docker with "--storage-opt dm.basesize=50G"

if you are AUFS probably I have to see how to do this option?

[2015-07-30 07:05] dpryan79 commented on #70
The 20 terabytes you're giving to docker goes to `/export`, not `/`. As @bgruening said, just change where the tmp directory variables are pointing to so the tool puts things elsewhere. We also commonly use files of that size or larger, but we use FTP to transfer them, which stores things under `/export`.

[2015-07-30 10:37] ve379 commented on #70
Do you know how to change where the tmp directory variables are pointing to so the tool puts things elsewhere? I'm not aware where this tmp is or how to do that?

Many thanks for the help!!!

[2015-07-30 11:34] dpryan79 commented on #70
Try changin the `new_file_path` variable in `galaxy.ini`, that might do it.

[2015-07-30 23:52] ve379 commented on #70
Sorry for asking but in /export/galaxy-central/config/
I have only these below and no galaxy.ini?
galaxy.ini.docker_sample
galaxy.ini.sample

(creating galaxy.ini from galaxy.ini.docker_sample, editing it,  and restarting galaxy did't make any change)

[2015-07-31 09:33] bgruening commented on #70
This should work, but you can always overwrite all variables in galaxy.ini with environment variables ... like described in https://github.com/bgruening/docker-galaxy-stable#galaxys-config-settings

[2015-08-04 17:13] chambm commented on #68
I'm thinking this is the same issue I had with sharing /export between my VirtualBox VM (either Kitematic Boot2Docker or Vagrant Ubuntu) and my Windows host. Virtual machine shared folders commonly have problems keeping uid/gid straight between the host and guest. As you see in your B2D VM's ls, the shared folder is mapped with docker:staff (1000:50). Your Docker container has the staff group but

[2015-08-04 19:46] bgruening commented on #68
xref: https://github.com/bgruening/docker-galaxy-stable/pull/71

[2015-08-05 07:01] matthdsm opened #72 "unable to install tools from toolshed in custom flavour"
Hi Björn,

When trying to create a custom flavour of your galaxy docker appliance, I keep getting errors from the PostgreSQL server wile building the image.

    OperationalError: (psycopg2.OperationalError) FATAL:  the database system is starting up

The code is my Dockerfile is as follows

    RUN install-repository \
    # Install Data Managers
	    "--url $TOOLSHED -a $GALAXY_CONFIG_MASTER_API

[2015-08-05 07:11] bgruening commented on #72
I think this is simply because the on your system postgres needs more time to startup than on Dockerhub or my computer.
During the installation, postgres and Galaxy needs to be started: https://github.com/bgruening/docker-galaxy-stable/blob/dev/galaxy/install_repo_wrapper.sh#L4

Ideally we need to check if postgres is up- and running before starting Galaxy. The downside is it will take slightly lo

[2015-08-05 07:32] matthdsm commented on #72
So we should probably add someting like

    STATUS="$(service ntp status)"
    while [[ ${STATUS} != *"is running"* ]]
    do
      STATUS="$(service ntp status)"
    done

to the wrapper script and then it should be fixed. Can you add this or should I clone the repo and make a pull request?

Matthias

[2015-08-05 07:34] bgruening commented on #72
I can add this is you like, but can you test it before ... just to make sure my assumption is correct.

[2015-08-05 07:59] bgruening commented on #70
@ve379 can we close this bug?

[2015-08-05 08:05] ve379 commented on #70
Yes,
I managed the issue just by adding in docker.service
-s devicemapper --storage-opt dm.basesize=20G

[2015-08-05 08:15] bgruening commented on #70
Great! Enjoy Galaxy!

[2015-08-05 08:15] #70 closed

[2015-08-05 14:24] oxyko opened #74 "Externalize Galaxy configuration"
It is very useful to use galaxy-docker as means to deploy Galaxy in dev, test and production environment. However, current galaxy-docker-stable image does not allow to modify Galaxy buildtime variables, like GALAXY_HOME, GALAXY_GID and GALAXY_UID. In order for the container to be useful in this process, there needs to be a way to change at least those variables.

This issue is created based on the

[2015-08-06 08:00] matthdsm opened #75 "galaxy 15.07 in docker issues"
Hi Björn

I am currently running the development version op the docker image for Galaxy. When I install a tool or data manager, they are not listed in the list of useable tools/data managers. However, when I refresh the page they appear (although the installed tools aren't is the right section). On a subsequent refresh, everything is gone again, and so on.
All installed tools do show up in the adm

[2015-08-06 08:12] bgruening commented on #75
Hi Matthias,

unfortunately, you need to restart Galaxy after installing tools/data-managers:
https://github.com/bgruening/docker-galaxy-stable#restarting-galaxy

After restarting everything will work as expected.
Cheers,
Bjoern

[2015-08-06 09:57] matthdsm commented on #75
That does fix the issue indeed!
is there any way to fix this? If we want to use a dockerized galaxy in a production environment, it will cause serious disruption for the users if we need te restart every time a new tools needs to be installed/updated.

Matthias

[2015-08-06 10:01] matthdsm commented on #75
Another unrelated issue,

I seem to be unable to view the logs from supervisor through the web interface. I can acces the interface and start/stop everything, but when I try to access the logs the page just hangs forever. Ik started the image with the DOCKER-LOGGING=full option enabled.

Matthias

[2015-08-06 10:08] bgruening commented on #75
There is currently no other way than restarting Galaxy. But you jobs will not be killed because the scheduler takes care of them. So in practise this is not much of an issue. Nevertheless, this is something that needs to improved but it out of scope of the Docker Galaxy project.

Regarding your logging issue; this is new to me. I will have a look. `DOCKER-LOGGING=full` option only has an influence

[2015-08-06 12:22] matthdsm commented on #75
Hi Björn,

I found another issue (might be my fault). I stopped all processes through the supervisor interface and then stopped the docker image. When I try to restart everything through "docker restart" I notice galaxy_web and both job handlers throw fatal errors. When I checked the logs through "docker logs" I get  following message

    Traceback (most recent call last):
      File "lib/galaxy/

[2015-08-06 12:39] matthdsm commented on #75
fixed previous issue by removing the empty config folder and stopped docker process. Everything fine after subsequent restart, but all edits to the configuration are gone.

[2015-08-06 12:55] bgruening commented on #75
@matthdsm please don't use restart: https://github.com/bgruening/docker-galaxy-stable/issues/64
We are not sure if this is a Docker bug or something else, yet.

[2015-08-06 12:58] matthdsm commented on #75
sorry, I should have looked that up myself

[2015-08-06 13:10] bgruening commented on #75
Null Problemo: https://www.youtube.com/watch?v=rUZI6p16RvQ

[2015-08-07 04:32] bcclaywell commented on #74
Following up from the mailing list, our use case is on a SLURM-based cluster and predates modern efforts to eliminate the need for shared storage for e.g. access to code in `lib/galaxy` and toolshed-installed dependencies (though migrating to Pulsar is on my long-term wishlist). The Docker image we're currently using is based on an early version of this one -- thanks Björn! -- but has an entrypoin

[2015-08-07 11:15] vebaev opened #76 "started galaxy_web: ERROR (abnormal termination)"
Hi
in the last days everytime I want to restart Galaxy, after I install some tools I got error from galaxy_web:
sudo docker exec f187b0f37822 supervisorctl restart galaxy:
galaxy_nodejs_proxy: stopped
handler0: stopped
handler1: stopped
galaxy_web: stopped
galaxy_nodejs_proxy: started
galaxy_web: ERROR (abnormal termination)
handler0: started
handler1: started

If than If stop the container, resta

[2015-08-07 11:17] bgruening commented on #76
Don't restart Docker until we found the root cause for this issue: https://github.com/bgruening/docker-galaxy-stable/issues/64

[2015-08-07 11:22] ve379 commented on #76
Ok thanks, for notifying that this is not issue from something I did wrong, but if I do not restart Docker I cannot access anymore my Galaxy from the browser and cannot do anything, as probably the error is related to the web service?

[2015-08-07 11:26] bgruening commented on #76
Ok, ok maybe it understood something wrong. Restarting Galaxy should work. Restarting Docker can result in some missing files in your config folder.
You you get the error message from the galaxy_web supervisord process?

[2015-08-07 11:29] ve379 commented on #76
I'm restarting Galaxy like this:
sudo docker exec f187b0f37822 supervisorctl restart galaxy:
and I got the error from galaxy_web, than I cannot access the Galaxy via web.

Than I can only fix this to normal after restert Docker and run a new Galaxy-stable container.

[2015-08-07 11:31] bgruening commented on #76
Can you give us more logging informations? /var/log/supervisord/* for example. Or try to start your container with this: https://github.com/bgruening/docker-galaxy-stable#advanced-logging

[2015-08-07 11:48] shiltemann commented on #72
I also get this error. Tried Matthias' solution, but even once the command  "service postgresql status" returns status "online" it still fails if you start Galaxy too soon. However, if you wait until the command "psql" no longer returns "FATAL:  the database system is starting up", it seems safe to start Galaxy.

Something like:

[code]

(and switching from sh to bash for this syntax to work btw)

[2015-08-07 11:54] ve379 commented on #76
I will paste more info of the error next time when happens, since when it does I stop the galaxy container, delete exited container than restart docker, than run new container (probably thats why I did not have issues like  #64 with only restarting docker)

[2015-08-07 11:56] bgruening commented on #72
Hi Saskia,

can you create a PR against the dev branch? I'm a little bit sceptical if we should put this into the new release which can happen every day. But if @matthdsm and you can test this carefully I will get this in. I just can not test it. Never saw this timeout.

[2015-08-07 12:01] shiltemann commented on #72
Will do. Yes it used to work for me without this too (couple days ago still) ..not quite sure what changed..

[2015-08-07 12:04] bgruening commented on #72
If we are correct with our assumption, everything that is slowing down the postgres start can be a reason. Watching Galaxy 101 Tutorials on the same computer? ;)

[2015-08-07 12:07] matthdsm commented on #72
This fix works for me. A little delay during the startup of postgresql, but everything installs smoothly.
I would propose to integrate it in the new release. Otherwise I'll incorporate it in my "custom flavour" dockerfile.
Thanks for the help Saskia, I hadn't though of monitoring the psql process.

Matthias

[2015-08-07 15:37] bgruening commented on #72
@matthdsm @shiltemann New docker image is ready. Please pull and test the :dev branch.

[2015-08-07 16:37] oxyko commented on #74
Hi Brian,

Thanks for sharing your experience with docker galaxy deployment. It helps us a lot, since we are going through the same exercise right now, only our cluster is SGE. I'm starting to consider the "startup magic" approach as well. I agree that having different Dockerfiles for different environments is not consistent and difficult to maintain. But have you considered/tried extracting the n

[2015-08-07 18:09] bgruening commented on #74
So as far as I can see we have two separated problems.

One is that you have some use-cases where you want to change the UID/GID during runtime. I guess this is possible with add some chmod/chown magic into the startup script. PR welcome!

The other use-case is to make a backup/migration more intuitive. Here we did a lot during the last releases and I know of a few people that are using these new

[2015-08-08 09:57] mictadlo opened #78 "galaxy:galaxy_nodejs_proxy: ERROR (abnormal termination)"
Hi, I tried to run this docker image as below show, but I am not able to connect from a browser to http://127.0.0.1:8080/ and  http://127.0.0.1:9191/.

        $ sudo docker run -p 8080:80 bgruening/galaxy-stable
	umount: /var/lib/docker: must be superuser to umount
	tmpfs on /proc/kcore type tmpfs (rw,nosuid,seclabel,mode=755)
	Disable Galaxy Interactive Environments. Start with --privileged to e

[2015-08-08 13:25] bgruening commented on #78
Hi Mic,

can you pull please the new image (will be available in 1h) and try this. Ubuntu updated the nginx package and our own patched version was not included anymore.

Sorry, for the inconvenience!

[2015-08-08 13:47] mictadlo commented on #78
Hi, no worries. I will try it out.

[2015-08-09 11:56] mictadlo commented on #78
I run in following problem:
$ sudo service docker restart
	$ sudo docker kill 52b492693f21
	52b492693f21
	$ sudo docker rm 52b492693f21
	Error response from daemon: Cannot destroy container 52b492693f21: Driver devicemapper failed to remove root filesystem 52b492693f21cfe4dbd1052f890c0437276b6a9108713dc270df3fd31fb19e91: Device is Busy
	FATA[0011] Error: failed to remove one or more containers

[2015-08-10 01:52] mictadlo commented on #78
Thank you for updating the image. It started to work with the following command:

       $ sudo docker pull bgruening/galaxy-stable
	latest: Pulling from bgruening/galaxy-stable
	...
	Digest: sha256:422bb0118294ea59fd779ae9415c44c41c184d2aa8e2dd46212e1087360abe54
	Status: Downloaded newer image for bgruening/galaxy-stable:latest

However, the error still appears, but Galaxy started.

[2015-08-10 01:56] mictadlo opened #79 "any image for NGS similar to usegalaxy.org"
Hi, by any chance are there any docker images which uses [usegalaxy-playbok](https://github.com/galaxyproject/usegalaxy-playbook/)?

[2015-08-10 08:12] bgruening commented on #78
Are you referring to the Docker restart error? Sorry, but this to be a Docker issue. You can wipe out everything under `/var/lib/docker` and reinstall Docker, this should help for sure :)

[2015-08-10 08:14] bgruening commented on #79
@mictadlo are you searching for an Image with the same tools as `usegalaxy.org`? Because this Docker Image is basesd on a similar playbook, just without the tools.

[2015-08-10 09:46] mictadlo commented on #79
With the same or similar tools would be great.

[2015-08-10 10:48] ve379 commented on #76
Hi,
after Galaxy restart getting "galaxy_web: ERROR (abnormal termination)" here is the log I manage to pull:

root@80e34a802918:/var/log/supervisor# more galaxy_web-stderr---supervisor-BJvXDF.log
open("./python_plugin.so"): No such file or directory [core/utils.c line 3675]
!!! UNABLE to load uWSGI plugin: ./python_plugin.so: cannot open shared object file: No such file or directory !!!
[uWSGI] g

[2015-08-10 10:50] bgruening commented on #79
@mictadlo can you build your own Image? Here is the Dockerfile to build a clone from usegalaxy.org (tool-wise): https://github.com/bgruening/notebooks/blob/master/galaxy/create_usegalaxy.org_dockerfile.ipynb

[2015-08-10 20:00] bcclaywell commented on #74
@oxyko: Crystallizing variables to be used in building an image into a config file would probably make things more clear than changing values in the Dockerfile directly. However, at best I think you'd still have to structure your Dockerfile in such a way that changing the config file would only invalidate the cache at the "right" point in the file. I guess I just don't like relying on the Docker c

[2015-08-10 20:11] bgruening commented on #74
@bcclaywell just let me know. I interested in understanding your use cases and get as much support as possible into the main image.

[2015-08-10 21:44] bgruening commented on #79
@mictadlo in a few hours you can try this Image:
[code]
Completely untested but it should contain all Tools from usegalaxy.org.

[2015-08-11 05:54] ve379 commented on #79
Thats great :) I will test it too :+1:

[2015-08-12 23:49] mictadlo commented on #79
Thank you very much for doing it. The image seems to work, but all the headings are in quotes. Furthermore, some tools heading appears double like e.g. 'Join,_Subtract_and_Group'.  Do you have any plans to merge all your different Galaxy flavors into one?

[2015-08-13 10:58] bgruening commented on #79
@mictadlo These strange group names are due to a API limitation, I will work during the next cycle on it.
I do not plan to create a flavour for all tools. The build time for such an Image will be days I guess and DockerHub will abandon me I guess ;)
Moreover, the ideas of flavours is to have DockerImages for special task. If you want to have an all in all Galaxy instance, please keep in mind that

[2015-08-13 11:06] vebaev commented on #76
I have checked and the error is the same each time

[2015-08-13 22:24] mictadlo commented on #79
Thank you for the information. When is the next cycle?
Is "RUN install-repository" from the docker file the same as "/galaxy/scripts/api/install_tool_shed_repositories.py"?

[2015-08-13 22:27] bgruening commented on #79
From now on two approximately 2 month.
Yes this is more or less the same, some tricks and starting of Galaxy/postgres ... but it's using the API and this script.

[2015-08-14 13:50] bgruening commented on #75
@matthdsm I will close this now. Feel free to reopen or create a new issue. Btw. newest version has a fix for the workflow bug.

[2015-08-14 13:50] #75 closed

[2015-08-14 13:52] bgruening commented on #72
I think this is fixed with the latest :dev branch. Thanks @matthdsm and @shiltemann!

[2015-08-14 13:52] #72 closed

[2015-08-14 13:55] bgruening commented on #68
@lparsons can you check if #71 is of any help for you?

[2015-08-14 13:57] bgruening commented on #78
@mictadlo can we close this issue?

[2015-08-14 14:02] bgruening opened #80 "use the new ansible-galaxy-tools role to install tools"
Similar to https://github.com/galaxyproject/usegalaxy-playbook/pull/9 we should migrate to [ansible-galaxy-tools](https://github.com/galaxyproject/ansible-galaxy-tools) for all tool installations.
- [x] make sure old installation will still work (keep our script)
- [x] make use of ansible-galaxy-tools
- [ ] figure out how to install tools into multiple categories at a time
- [x] add Galaxy API to

[2015-08-19 06:49] jjkoehorst opened #81 "TCP/IP connections"
I was trying to get access to the galaxy instance running in my docker. As this did not work I tried to start an interactive session:

    docker run -i -t -p 8080:80 bgruening/galaxy-stable /bin/bash

but after

    ./run.sh

    ...
    File "/galaxy-central/eggs/psycopg2-2.5.1_9.2.4_static-py2.7-linux-x86_64-ucs4.egg/psycopg2/__init__.py", line 164, in connect
    conn = _connect(dsn, connectio

[2015-08-19 06:52] bgruening commented on #81
@jjkoehorst you need to use the `startup` script. We need to start a lot more than Galaxy. The webserver for example, a scheduler ....

[2015-08-19 07:04] jjkoehorst commented on #81
Indeed see that now, as I didn't see the startup.sh script in the docker I assumed I needed the galaxy run.sh.

Now running the startup script line by line to see what is happening.

I do get an nodejs proxy error, trying to figure out what it means.

    Starting ProFTP
    proftpd: started
    Starting Galaxy reports webapp
    reports: started
    Starting nodejs
    galaxy:galaxy_nodejs_proxy:

[2015-08-19 07:20] bgruening commented on #81
nodejs should not be the problem. Are you running on OS-X or Windows.

[2015-08-19 07:21] jjkoehorst commented on #81
Running OS-X but I thought the idea of docker was that it is independent of the OS like a virtual machine or is something else going on?

[2015-08-19 07:23] bgruening commented on #81
Yes it is. But you will get a different IP address on OS-X because it get's routed through a VM and from the VM to Docker. This is usually a problem that our users encounter on OS-X.

[2015-08-19 07:37] jjkoehorst commented on #81
Yes indeed that IP address is an "issue"...

Now trying to work with

    CID=$(docker run -d -p 8080:80 -p 8021:21 bgruening/galaxy-stable);
    docker inspect --format '{{ .NetworkSettings.IPAddress }}' ${CID}

And use that IP address to access galaxy

[2015-08-19 07:41] bgruening commented on #81
You can try [kitematic](https://kitematic.com/), this might be easier for OS-X user.
Let me know if you have more problems. Can we close this issue?

[2015-08-19 07:41] jjkoehorst commented on #81
Yes I think we posted and edited at the same time. Case closed

[2015-08-19 07:41] #81 closed

[2015-08-19 12:27] mictadlo commented on #78
Galaxy is working, but while booting up docker with the updated image I still got

    Starting nodejs
    galaxy:galaxy_nodejs_proxy: ERROR (abnormal termination)

[2015-08-20 01:33] mictadlo opened #82 "mkdir: cannot create directory ‘/sys/fs/cgroup’: No such file or directory"
Hello,
I have tried to start docker with the following command:

    $ sudo docker run -p 8080:80 -p 8800:8800 --privileged=true -v /home/lorencm/galaxy_storage/:/export/ -e "GALAXY_CONFIG_ADMIN_USERS=albert@einstein.gov" -e "GALAXY_CONFIG_BRAND='My own Galaxy flavour'" bgruening/galaxy-stable

However, I recieved the folliwng error massage on Cent OS 6.6 and docker version 1.6.2, build 7c8fca2/1.

[2015-08-20 07:01] bgruening commented on #82
Is this your entire history menu? Are you logged in?
No this error is unrelated to your history or Galaxy installation at all. This error will prevent you from using Docker in Docker. For example to run IPython inside of Galaxy or other IEs.
Docker in Docker is still a huge hack and does not work on old systems. You can try Docker next to Docker as explained here: https://github.com/bgruening/dock

[2015-08-21 06:05] mictadlo commented on #82
Thank  you,  as soon I loged into Galaxy I could use e.g. "Import from file".

Your tutorial using-parent-docker has solved this error.

[2015-08-21 06:05] #82 closed

[2015-08-21 06:16] mictadlo opened #83 "/usr/lib/python2.7/dist-packages/supervisor/options.py:295: UserWarning:"
Hello,
I am getting the bellow warning:

	/usr/lib/python2.7/dist-packages/supervisor/options.py:295: UserWarning: Supervisord is running as root and it is searching for its configuration file in default locations (including its current working directory); you probably want to specify a "-c" argument specifying an absolute path to a configuration file for improved security.
	  'Supervisord is runn

[2015-08-21 06:18] mictadlo opened #84 "Apollo Browser in Galaxy"
Hi,
How is it possible to include Apollo browser in Galaxy?

Thank you in advance.

Mic

[2015-08-21 06:31] bgruening commented on #82
Great!

[2015-08-21 06:48] bgruening commented on #83
@mictadlo the first one is a warning and the second one is your command.
So I would guess everything is correct or you missing the error message :)

[2015-08-21 06:49] bgruening commented on #84
@erasche has a prototype of web-appolo as Galaxy Interactive Environment. Is not ready yet but we are working on it as part of our Genome Annotation Suite. Stay tuned.

[2015-08-21 06:49] #84 closed

[2015-08-21 06:54] mictadlo opened #85 "GATK installation"
Hi,
I would like to install GATK and I think I have to create a new dockerfile which contains

     RUN install-repository \
	    "--url https://toolshed.g2.bx.psu.edu/ -o iuc --name gatk2"

How and where have I to include the GATK jar file?

Does IUC's GATK wrapper works with custom reference files and does it support GATK 3?

Thank you in advance.

Mic

[2015-08-21 07:24] bgruening commented on #85
GATK3 is not supported, only GATK2.8. GATK has some licensing issues and my motivation is not so high to invest more time on it.

I tried to create a ExomSeq Galaxy Flavor: https://github.com/bgruening/docker-recipes/blob/master/galaxy-exom-seq/README.md with GATK but you need to take care of the JAR file by yourself. We are not allowed to ship a version of GATK.

[2015-08-21 11:53] mictadlo commented on #83
I was concern about the warning and whether it would be possible to get rid of it.

[2015-08-21 11:59] bgruening commented on #83
I can have a look at this during the next release cycle.
Thanks!

[2015-08-21 12:48] mictadlo commented on #85
Thank you, Galaxy-exom-seq looks really good. I am not able to find env.sh in "shed_tools/toolshed.g2.bx.psu.edu/repos/iuc/gatk2/84584664264c/gatk2/". Where can I find env.sh?

Why does Galaxy-exom-seq based on bgruening/galaxy-stable:dev and not on bgruening/docker-galaxy-stable:15.05?

Are there any other alternatives tools for "Local Realignment around Indels" and "Base Quality Score Recalibrat

[2015-08-22 23:35] erasche commented on #84
Hi @mictadlo, what sort of things did you have in mind for an Apollo browser in Galaxy? How would you want to use it, in an ideal case?

In the meantime, I've got a release of my jbrowse tool coming soon. JBrowse integrates very well with Galaxy (datasets & dataset collections can be added as tracks and customised in batch/individually, lots of control over colour and styling). I'm still figuring

[2015-08-23 12:41] mictadlo commented on #84
I am looking for an replacement for UCSC Browser. It would be nice to see annotations, SNPs, alignment and the reference.

[2015-08-23 13:10] erasche commented on #84
Thanks for the feedback!

søn. 23. aug. 2015, 13.42 skrev Michał T. Lorenc <notifications@github.com>:

[2015-08-24 01:15] mictadlo opened #86 "Toolbox heading the same as on usegalaxy.org"
Hello,
It might be easier for users to follow already available documantions from usegalaxy.org if the toolbox heading would be the same for all your docker Galaxy flavours.

Thank you in advance.

Mic

[2015-08-24 04:23] mictadlo opened #87 "Error could not connect to IE, contact your administrator"
Hello,
I uploaded this [VCF file](https://swift.rc.nectar.org.au:8888/v1/AUTH_377/public/variantCalling_ADVNCD/dbSNP135_excludingsitesafter129_chr20.vcf) to Galaxy and click on the chart symbol. I could see iPython, but Rstudio was not available.

Than I click on iPython and received the following error:

    Error could not connect to IE, contact your administrator

I used the following command t

[2015-08-25 06:12] mictadlo commented on #87
Is it maybe because of this #78 issue ?

[2015-08-25 06:50] bgruening commented on #87
@mictadlo RStudio is only available from `:dev`, the upcoming release.
To debug your issue I would need more logging information. #78 can be a reason but I can not be sure.
Also keep in mind that the first try can fail, because Galaxy needs to download the IPython Docker image. You will see this in your log and it can take a few minutes. Nevertheless, the second try (after let's say 15min) should

[2015-08-26 02:18] mictadlo commented on #87
I waited more than 15 min, but it still does not work. Please find the the log [output file](
https://drive.google.com/file/d/0ByXM-Pf2rHncOFdVaGRITkdYd1k/view?usp=sharing)

I am using CentOS 6.6 with the following docker version:

	$ docker version
	Client version: 1.7.1
	Client API version: 1.19
	Go version (client): go1.4.2
	Git commit (client): 786b29d
	OS/Arch (client): linux/amd64
	Server ve

[2015-08-26 07:20] bgruening commented on #87
Hi @mictadlo,

it seems you don't have access to access ` /var/run/docker.sock`:

[code]
Can you check this? Moreover, can you check if this command was successful?
[code]

[2015-08-26 11:24] mictadlo commented on #87
Hi @bgruening, Thank you for your response. I added the new information to "/etc/sudoers"

	$ sudo su
	# echo "galaxy ALL = NOPASSWD : ALL" >> /etc/sudoers
	# tail -n 3 /etc/sudoers
	## Read drop-in files from /etc/sudoers.d (the # here does not mean a comment)
	#includedir /etc/sudoers.d
	galaxy ALL = NOPASSWD : ALL

After the reboot I got the following permissions for docker.sock

	$ ls -ahl /va

[2015-08-26 12:15] menegidio opened #88 "Ready-only"
Sorry to bother you, but which file you set the standard for file system is ready only?

[2015-08-26 12:24] bgruening commented on #88
Welcome @menegidio!
I don't really understand your question. Do you mean read-only? To which file are you referring? What is your use case.

Also please have a look at our documentation, I'm confident that most questions are answered there:
https://github.com/bgruening/docker-galaxy-stable/blob/dev/README.md

[2015-08-26 12:28] mictadlo commented on #88
Did you use `sudo docker ...`?

[2015-08-26 12:32] bgruening commented on #87
This looks, wired. I'm using the Docker-in-Docker approach but I will hopefully find time to test this soon. I'm currently using Debian.
@kellrott have you seen this before? Are you still using Docker next to Docker in your setup?

[2015-08-27 05:12] mictadlo opened #89 "Building failed because of "Galaxy could not be started.""
Hi @bgruening
I created the below Dockerfile:

	FROM bgruening/galaxy-stable

	MAINTAINER  script

	ENV GALAXY_CONFIG_BRAND Kevin?s Galaxy

	WORKDIR /galaxy-central

	# Enable TTS installation
	ENV GALAXY_CONFIG_TOOL_SHEDS_CONFIG_FILE $GALAXY_HOME/tool_sheds_conf.xml

	# Install NGS:_Peak_Calling
	RUN install-repository "--url http://toolshed.g2.bx.psu.edu/ -o devteam --name macs --panel-section-n

[2015-08-27 06:13] mictadlo opened #90 "Image building stopped because of HTTP Error 500: Internal Server Error"
Hi @bgruening,
While building an image I received the following error:

        Removing intermediate container 90ef34767ddf
	Step 8 : RUN install-repository "--url http://toolshed.g2.bx.psu.edu/ -o iuc --name package_homer_4_2 --panel-section-name 'NGS:_Peak_Calling'"
	 ---> Running in 03249d31c167
	 * Starting PostgreSQL 9.3 database server
	   ...done.
	starting Galaxy
	Galaxy is running.
	Proc

[2015-08-27 07:02] mictadlo opened #91 "Image building stopped because of HTTP Error 400: Bad Request"
Hi @bgruening,
While building an image I received the following error:

ccta:

	Removing intermediate container 88da1181220d
	Step 8 : RUN install-repository "--url http://toolshed.g2.bx.psu.edu/ -o devteam --name ccta --panel-section-name 'NGS:_Peak_Calling'"
	 ---> Running in dbda5f568b6c
	 * Starting PostgreSQL 9.3 database server
	   ...done.
	starting Galaxy
	Galaxy is running.
	Processing:\t

[2015-08-27 07:10] mictadlo opened #92 "package_meme_4_10_0 does not appear in the tool bar"
Hi @bgruening,
I installed meme in the following way:

    RUN install-repository "--url http://toolshed.g2.bx.psu.edu/ -o iuc --name package_meme_4_10_0 --panel-section-name 'NGS:_Peak_Calling'"

but it shows not in the Galaxy Tool Bar.

What did I do wrong?

Thank you in advance.

Mic

[2015-08-27 07:14] bgruening commented on #92
@mictadlo this is a package, more or less just the program without wrapper, so there is nothing to show up in your toolbar.

[2015-08-27 07:14] #92 closed

[2015-08-27 07:17] bgruening commented on #91
I guess, nothing. A few packages just don't install correctly, you need to contact the tool author to resolve this or help to fix the underlying tool installation problems. This also holds true for you other issues.
If you don't mind I will close them, this is not related to the Galaxy Docker image. It seems to be like a general Tool issue.

[2015-08-27 07:17] #91 closed

[2015-08-27 07:17] #90 closed

[2015-08-27 07:17] bgruening commented on #90
See https://github.com/bgruening/docker-galaxy-stable/issues/91

[2015-08-27 07:19] bgruening commented on #89
This seems like a Galaxy bug. Can you fetch the latest (stable) image and see if this is still happening.

[2015-08-27 09:30] mictadlo commented on #91
Thank you I will contact the authors.

[2015-08-27 09:42] mictadlo commented on #92
Thank you, I asked [here](https://biostar.usegalaxy.org/p/13940/) how to install meme.

[2015-08-27 11:10] bgruening commented on #91
To be more precise, I mean the Galaxy Tool authors.

[2015-08-31 03:36] mictadlo commented on #89
I did it again, but unfortunately  it is still the same problem.

[2015-09-03 13:01] aogier opened #93 "error when building galaxy-stable or deriving new images"
Hello, I'm currently unable either to build galaxy-stable image and to derive a new one based on that. I first tried to derive an image installing a tool (devteam/fastq_groomer) but process failed with a psycopg2 operational error:

```sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) FATAL:  the database system is starting up```

So, thinking about some obscure bug in galaxy in image I

[2015-09-03 17:10] bgruening commented on #93
@aogier I'm preparing the next release right now. Can you please test latest master?

[2015-09-03 18:42] aogier commented on #93
@bgruening hi I'm just returned at home and tried a build, everything did very well :))
What I tried:

 * rebuilding from scratch against master branch, it did work w/o problems
 * deriving an image from docker hub galaxy-stable, installing tools also went ok

Thank you a lot for your kind and prompt response I'm sorry I did not produce any fix on this but still pretty new on docker stuff anyway I

[2015-09-03 18:42] #93 closed

[2015-09-03 18:45] bgruening commented on #93
Testing is always appreciated :)
For you information I just released `galaxy-stable:15.07` (this is the same as master) and a new `galaxy-stable:dev` tracking the Galaxy dev branch.

[2015-09-06 03:54] ksuderman commented on #68
@bgruening I've been having the same problem and unfortunately #71 doesn't solve it for me.

I believe the root cause is Docker and boot2docker/boot2docker#581 .  It seems that it is not possible to change the owner of the /export directories from within the VM (or a container running in the VM) and so postgres refuses to start.  If I [ssh into the container (see Problem #3)](https://viget.com/ext

[2015-09-06 11:26] bgruening commented on #68
@ksuderman which UID/GID does your postgres user have? Are you running `:dev` or `:15.07`? If not can you try one of these new versions?

[2015-09-06 22:32] ksuderman commented on #68
Sorry @bgruening, I should have mentioned that I have been basing my images on galaxy-stable:dev. I just tried 15.07 image and the problems are still there. The postgres user is 1550:1550 and the galaxy user is 1450:1450 (see below).

However, I have made progress.

To "fix" (hack around) the "permission denied" problems I cloned the docker-galaxy-stable repo and changed the GALAXY_UID and GALAXY_

[2015-09-06 23:41] bgruening commented on #68
@ksuderman this is a really great analysis. Thanks a bunch for sharing. I suppose these bugs are known to the Docker guys? I hope they fix it soon. Let me know if I can support you.

What we can try is to figure out if the container is running under VBox/OS-X and squeeze in your workaround - only in this case? What do you think?

@lparsons any opinion here?

Sorry that I can not help much as I'm m

[2015-09-07 00:25] chambm commented on #68
Keith, in my case, on Windows, I originally tried to share everything with
the host. First I gave up on having the Postgres share persist in Windows
(due to the same issue you ran into with inability to change permissions)
and opted to use a semi-permanent Linux VM to handle that persistence. Then
I eventually gave up on having the galaxy-central directories shared with
the host as well because of

[2015-09-07 01:20] ksuderman commented on #68
@bgruening Yes, this turns out to be a [known problem](https://github.com/boot2docker/boot2docker/issues/581) in Docker (boot2docker actually) but it seems the root cause is the way VirtualBox does shared folders so I don't know how quickly a fix will be coming.

If anyone wants to test my hacks I've pushed an image to the Docker hub:
[code]

@chambm I will take look at Vagrant. Our use case right

[2015-09-08 10:13] kajocina opened #94 "/config/ folder gets emptied after config file edit"
Hello,

I know I reported this to Bjoern already in email, but thought others might find the same issue hapenning to them. I am using docker 1.8.1 on Ubuntu 14.04LTS.
After running the docker-galaxy-stable container with the command:

sudo  docker run -i -t -p 8080:80 -v /home/XXX/Software/galaxy_storage/:/export/ --name galaxy bgruening/galaxy-stable

I get galaxy nice and running. I make an acco

[2015-09-08 13:04] bgruening commented on #94
Hi Piotr,

is it related to this one here: https://github.com/bgruening/docker-galaxy-stable/issues/64
Are you using restart? If not can you provide us with a step by step guide how to reproduce this?

Thanks,
Bjoern

[2015-09-08 14:02] kajocina commented on #94
Hi Bjoern,

I am trying to recreate it and so far can't, I might be missing something that I did before.

Could you just tell me what is the purpose of galaxy.ini.docker_sample vs. galaxy.ini.sample ? Why there are two such files in /export/ config folder ?

[2015-09-08 14:24] bgruening commented on #94
`galaxy.ini.docker_sample` contains Docker specific modifications for your job handlers and the uwsgi session.

[2015-09-08 14:37] kajocina commented on #94
So right now I tried going step-by-step to at least reproduce the problem, but I am ending up with what I described in the EDIT1 part of my original post, i.e.:

I started docker image (the local export folder empty):
docker run -i -t -p 8080:80 -v /home/XXX/Software/galaxy_storage/:/export/ bgruening/galaxy-stable /bin/bash

Typed "startup" and hit enter. Got galaxy going on localhost:8080 where

[2015-09-08 16:40] kajocina commented on #94
Maybe what's important is that when I run "startup" in the container, first info I get is:

umount: /var/lib/docker: must be superuser to umount
Is it supposed to be there ?

[2015-09-09 11:13] kajocina commented on #94
I managed to reproduce a moment when /config/ on my local export gets emtpied.

1. Create an empty /home/user/galaxy_storage/ folder
2. Start the container docker run -i -t -p 8080:80 -v /home/user/Software/galaxy_storage/:/export/ bgruening/galaxy-stable /bin/bash
3. Run 'startup', Galaxy gets up and running, /export/ on local drive gets populated
4. While in container, ctrl+c to stop Galaxy, /ex

[2015-09-09 11:47] bgruening commented on #94
@kajocina thanks for the detailes analysis I will have a look at it.
I never tested this scenario of running the startup script twice in one session.

[2015-09-09 12:00] kajocina commented on #94
I don't know if it helps, but looking a shutil documentation:

Changed in version 2.6: Explicitly check for path being a symbolic link and raise OSError in that case.

Isn't 'src' after first run a symbolic link ? When there is a function call:

change_path('/galaxy-central/config/') then I would assume that the script calls:
shutil.rmtree( '/galaxy-central/config/' ) which should then return:

OS

[2015-09-09 12:42] kajocina commented on #94
My initial problem with Galaxy not starting up after changing admin in galaxy.ini.sample and changing file name to galaxy.ini was resolved by simply using galaxy.ini.docker_sample. This is the file where the admin should be changed and subsequently renamed to galaxy.ini.

Now all works fine.

[2015-09-09 12:44] #94 closed

[2015-09-09 13:31] bgruening commented on #94
Thanks @kajocina!

[2015-09-09 17:43] bgruening commented on #94
@kajocina could you please try to reproduce your config issue with the latest `:dev` release. I added a safeguard to this particular issue. Image will be ready in one hour.

[2015-09-09 17:51] kajocina commented on #94
Sure, no problem ;) Will edit post when it happens.

[2015-09-11 21:35] bgruening commented on #94
Applied the fix to :dev. Container is building right now.

[2015-09-17 11:47] vebaev commented on #76
Hi, any news on the error, please let me know if you need me to provide more info from somewhere as I got this frustrating error on my all Galaxy restarts?

[2015-09-17 11:54] bgruening commented on #76
How do you do a restart? Can you please provide a step by step guide to reproduce it?
Thanks.

[2015-09-17 11:55] vebaev commented on #76
I just type this got the log:
[code]

[2015-09-17 11:58] bgruening commented on #76
Which galaxy version, Docker version? Is it still the same error from above with the `uWSGI plugin: ./python_plugin.so`?

[2015-09-17 12:04] vebaev commented on #76
Yes the error is the same. How to check which version of docker-galaxy-stable I am running? The docker version is:
Client version: 1.7.1
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 786b29d
OS/Arch (client): linux/amd64
Server version: 1.7.1
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 786b29d
OS/Arch (server): linux/amd64

[2015-09-17 12:51] bgruening commented on #76
How do you start galaxy-stable? You usually specify the version after the image name like `:dev`. Please also try the latest `docker pull bgruening/galaxy-stable:15.07`

[2015-09-17 12:56] vebaev commented on #76
I'm starting it like this:
sudo docker run -d -p 8080:80 -v /home/galaxy/galaxy_storage/:/export/ bgruening/galaxy-stable

[2015-09-17 13:22] bgruening commented on #76
Try `docker pull bgruening/galaxy-stable:15.07` to be sure to have the latest version.

[2015-09-17 13:33] vebaev commented on #76
I till try and let you know when I have to restart next time.

[2015-09-18 14:43] gongbinsheng commented on #22
Hi diehlsa,
I've got the same problem. Do you have any solution for that? Our galaxy is running on a cluster.

[2015-09-22 08:54] vebaev commented on #64
Hi,
I also had the problem, I have returned a backup of /config I have from the past but now I cannot upload any files in Galaxy:
'''
Traceback (most recent call last):
  File "/galaxy-central/tools/data_source/upload.py", line 430, in <module>
    __main__()
  File "/galaxy-central/tools/data_source/upload.py", line 419, in __main__
    add_file( dataset, registry, json_file, output_path )
  File

[2015-09-22 18:07] bgruening commented on #89
This line probably does not work and Galaxy can not find a Tool Shed to install from.
``GALAXY_CONFIG_TOOL_SHEDS_CONFIG_FILE $GALAXY_HOME/tool_sheds_conf.xml``

What do you want to do here?
If you want to enable new Tool Sheds you can use this new script in our latest release:
https://github.com/bgruening/docker-galaxy-ploen/blob/master/Dockerfile#L12

[2015-09-22 18:09] bgruening commented on #88
I don't use `sudo docker` no. But this really depends on your Docker setup. I will close this now, feel free to reopen if you can describe your problem in more detail.

Thanks for using this image!
Bjoern

[2015-09-22 18:09] #88 closed

[2015-09-22 18:13] bgruening commented on #87
I could only test this under Sientific-Linux 7 but here it seems to work. Do you still have this issue?

[2015-09-22 18:17] bgruening commented on #85
You will find all env.sh files under `tool_deps/toolshed/.../../../../`.
It is based on dev because I needed same latest features in Galaxy, back at this time. I can change this to always use the latest stable version if you prefer.

`BQSR` and similar features are (afaik) already in other variant calling suites integrated. Have a look at freebayes or samtools.

[2015-09-22 18:17] #85 closed

[2015-09-22 18:18] #83 closed

[2015-09-22 18:20] bgruening commented on #86
I tried to include a few sections as they are on `usegalaxy.org`.
https://github.com/bgruening/docker-usegalaxy/blob/master/Dockerfile

Please feel free to help me with this and create PR to change categories in all flavours you find.

[2015-09-22 18:20] #86 closed

[2015-09-22 18:21] bgruening commented on #79
Have a look here: https://github.com/bgruening/docker-usegalaxy

[2015-09-22 18:21] #79 closed

[2015-09-23 09:55] vebaev commented on #64
Can somebody help with the above error as my Galaxy is ussless as I cannot upload anything :(

[2015-09-23 13:09] dannon commented on #64
@vebaev This isn't a fantastic solution, but can you try to uninstall the oxli_datatypes toolshed repository?  These datatypes were added to galaxy core and I believe conflicting definitions are probably the issue.  I'll look into a galaxy-side solution to this.

[2015-09-23 14:17] vebaev commented on #64
@dannon , that worked, thanks!

[2015-09-23 14:23] dannon commented on #64
Awesome, happy to help.

[2015-09-23 18:19] lparsons commented on #68
@bgruening I don't see an elegant solution (at least not near term). The idea of using the workaround in the VBox/OS-X case seems like a reasonable and practical solution if it works.

@chambm The Vagrant idea does indeed seem promising. My main goal is to be able to quickly setup clean Galaxy environments where I can test things like tool integrations and installations. permanent would be fine in

[2015-09-23 18:28] chambm commented on #68
@lparsons Check out https://github.com/chambm/bingomics-galaxy/tree/master/vagrant - it's the Vagrantfile I use for developing and testing my lab's docker-galaxy flavor. It has a lot of stuff needed for a cluster-based configuration commented out since that's a bit resource intensive. But that is a possibility. There are some shell provisioning commands to prep a fresh VM and then it runs the dock

[2015-09-28 00:00] ksuderman commented on #64
I think I am running into this bug as well; when the Galaxy Docker container is started with a mounted volume it cleans out the /galaxy-central/config directory when restarted.

NOTE: I am not using `docker restart`, but I am doing `docker stop galaxy` (started with `--name galaxy` option) and `docker start galaxy`.  I don't know if it is any help at this point, but after stopping the container I

[2015-09-28 00:11] ksuderman commented on #68
Another work around, particularly if you just want some persistence during testing and development is to mount a directory from the VM.  I.E.

[code]

Then use `docker-machine scp` to moves file in/out of the VM directory.  As long as you don't delete the VM the /var/lib/galaxy directory will be persisted and available for multiple containers.

[2015-09-28 05:22] jonrsawyer commented on #87
Try setting selinux on CentOS to permissive using the command "setenforce 0". I was having permissions problems with /var/run/docker.sock from within the container and "setenforce 0" fixed it for me.

Don't know what the "selinux-friendly" way to fix this would be.

[2015-10-03 12:07] mvdbeek opened #97 "Avoid uid problems by preloading users in common uid range"
Hi Bjoern (and others),

It's not really an issue, but maybe you'll find it useful.
Playing around a bit with the docker image i'm using for the toolfactory I discovered a nice hack:
You can preload an image with a range of users that all have a common gid (1450 would be useful for docker-galaxy-stable). Then you can user ```docker run --user `id```` to start the image as your current user. When y

[2015-10-08 16:38] erasche commented on #84
Hi @mictadlo just wanted to let you know that with the recent release of WA2.0, the next version of my JBrowse tool will allow visualization in either JBrowse or to launch a [GIE](https://wiki.galaxyproject.org/Admin/GIEs) with WebApollo. Again, the JBrowse tool itself is probably a good fit for your problem but just wanted to let you know that there's a more concrete timeline (by mid november) fo

[2015-10-08 16:39] erasche commented on #84
xref https://github.com/bgruening/docker-galaxy-genome-annotation/issues/2

[2015-10-25 22:52] mictadlo commented on #84
Hi @erasche, Thank you for the update.

[2015-10-30 10:06] mictadlo opened #99 "Failed: Bad Request (400) by uploading"
Hello,
I tried to upload a VCF file (3.7 MB) which has caused *Failed: Bad Request (400)* with the following Dockerfile:

	FROM bgruening/galaxy-stable:dev
	MAINTAINER auto script
	ENV GALAXY_CONFIG_BRAND CARF
	ENV GALAXY_CONFIG_SERVE_XSS_VULNERABLE_MIMETYPES ChemicalToolBox
	ENV GALAXY_CONFIG_ENABLE_BETA_TOOL_COMMAND_ISOLATION True

	WORKDIR /galaxy-central

	RUN install-repository \
		"--url htt

[2015-11-02 00:32] mictadlo opened #100 "'/galaxy-central/scripts/fetch_eggs.py': [Errno 2] No such file or directory"
Hello,
I have tried to convert your Dockerfile to my Ubuntu/Mint 14.04 system with the below comands, but I have recieved the following error from ansible-playbook:

    changed: [localhost]
    __________________________________________________________
    / TASK: galaxyprojectdotorg.galaxyextras | Fetch DRMAA egg \
    \ for Galaxy                                               /
    ------------

[2015-11-02 07:04] bgruening commented on #100
@mictadlo are you using the dev version of Galaxy? Or a stable one?
I recommend unsing a stable release for now. The development version has some substantial changes in how Galaxy handles dependencies.

[2015-11-05 20:06] GuyReeves opened #101 "Help with getting FTP working."
Hi

I have successfully  set up a fully working Galaxy server using docker  which was much less painful that I had thought ( and much easier than with the ongoing problems I am having in setting up another server without docker, so thanks ).  I have even updated to the current version.
The only thing I am currently missing is the capacity to upload dataset using FTP.  I see the instructions on you

[2015-11-05 20:23] dpryan79 commented on #101
Hi @GuyReeves,
If only you and a handful of other people will ever use the server then passive ftp will work (I'll describe how to do that below). If you expect or hope to have numerous users then I strongly encourage you to just use the `--net=host` option, which will allow FTP to automagically work.

Anyway, I'll give an example of how to use passive ftp with filezilla, since every ftp client is

[2015-11-05 20:36] GuyReeves commented on #101
Thanks that is great i will try that tomorrow with my FTP client.  But won´t I have to specify a folder to copy the files to? and if so where is that folder ?
Thanks  Guy

[2015-11-05 20:57] dpryan79 commented on #101
Nope, you'll be in the correct directory once you login. Note that you need to use the **exact** same credentials as when you login to Galaxy.

In the off chance that you **really** want to know where things get placed, it's `/export/galaxy-central/database/ftp/your_login@your_domain.something`. You do not need to know that to upload things. Galaxy will know this already.

[2015-11-05 21:17] GuyReeves commented on #101
Thanks I think everything is clear.

[2015-11-06 10:27] GuyReeves commented on #101
Hi
currently this is my docker startup command
docker run -d -p 8080:80 -v /home/galaxy-user/galaxy_storage/:/export/ bgruening/galaxy-stable

I tried the above instructions with '80 '  in the port  FileZilla,  but the connection was refused.

Status:	Connection attempt failed with "ECONNREFUSED - Connection refused by server".
Error:	Could not connect to server

Am I doing something wrong?
The se

[2015-11-06 11:40] bgruening commented on #101
Yeah, users help users how great is this! Thanks @dpryan79!
@GuyReeves you need to export the FTP port as well. Please add `-p 8021:21` to your commandline.

[2015-11-06 12:56] GuyReeves commented on #101
I added -p 8021:21 to the startup command

galaxy-admin@evolgen054:~$ docker ps
CONTAINER ID        IMAGE                     COMMAND              CREATED             STATUS              PORTS                                                            NAMES
23ca8c600dee        bgruening/galaxy-stable   "/usr/bin/startup"   15 seconds ago      Up 14 seconds       8800/tcp, 9002/tcp, 0.0.0.0:8021->2

[2015-11-06 12:58] bgruening commented on #101
Have you connected to port 8021 or to port 21 with filezilla?

[2015-11-06 12:58] dpryan79 commented on #101
If you use `-p 8021:21` then you must tell your ftp client to use port 8021.

[2015-11-06 13:15] GuyReeves commented on #101
I tried with filezilla Transfer settings" tab, select "passive"

With 8021 in port + FTP  selected  it get the following error

Status:	Connection established, waiting for welcome message...
Status:	Insecure server, it does not support FTP over TLS.
Command:	USER galaxy-admin
Response:	331 Password required for galaxy-admin
Command:	PASS ********
Response:	530 Login incorrect.
Error:	Critical erro

[2015-11-06 13:20] bgruening commented on #101
Have you created the galaxy-admin user? The username is the normal Galaxy login username. By default this is `admin@galaxy.org`.
https://github.com/bgruening/docker-galaxy-stable#users--passwords

[2015-11-06 13:31] GuyReeves commented on #101
I am so sorry I did get the accounts confused using the correct admin@galaxy.org and default password with FTP selected I get this, which looks close but not quite...

Status:	Connection established, waiting for welcome message...
Status:	Insecure server, it does not support FTP over TLS.
Status:	Connected
Status:	Retrieving directory listing...
Command:	PWD
Response:	257 "/" is the current direct

[2015-11-09 14:47] GuyReeves opened #102 "job not returned from cluster- is there anything I can do about this"
Hi
I started  a workflow to run simultaneously x45 .  This given the number of steps in the workflow this equates to approximately 3000 jobs.  Which I can see is quite a bit.

 About 30 of the 45 replicates complete perfectly.  15 though throw a red  error pausing all the dependent steps.  I have gone through them and almost all  errors  have the info 'job not returned from cluster'  (not necessar

[2015-11-09 20:58] bgruening commented on #102
@GuyReeves can you start the container with `-e "GALAXY_LOGGING=full"` and give us the entire log. Maybe we see something useful in it.
Do you use collections inside your workflow? Can you run the container with:

[code]
And see if it changes?
Thanks!

[2015-11-10 12:59] GuyReeves commented on #101
So I could not get the passive FTP to work.

So I was advised to go with the --net=host  option. modifying my above original startup command to be

docker run -d --net=host -v /home/galaxy-user/galaxy_storage/:/export/ bgruening/galaxy-stable

When I connected using the IP address and port 21 and

1. Open the filezilla  "Site manager" (upper left)
2. Fill in the server name and change the "Login t

[2015-11-10 13:04] dpryan79 commented on #101
With `--net=host` galaxy is running on the normal port, which is 80 (i.e., what you use when you don't specify anything in your web browser).

[2015-11-10 13:05] bgruening commented on #101
port 80 it is :)

[2015-11-10 13:42] GuyReeves commented on #101
so I do not need  -p 8080:80 I just run

docker run -d --net=host -v /home/galaxy-user/galaxy_storage/:/export/ bgruening/galaxy-stable

and access galaxy through  using the just the IP address and it works great

Thanks to Dpryan79 and bgruening

[2015-11-10 13:42] #101 closed

[2015-11-10 15:04] GuyReeves commented on #102
HI
No I do not use data collections ( I just select lists of datasets).
so I added -e "GALAXY_LOGGING=full" to my docker start up command and restarted.
accessed the logs using the browser IPaddress:9002.

I get this
![screen shot 2015-11-10 at 16 00 24](https://cloud.githubusercontent.com/assets/13830572/11065577/7c6dfc86-87c4-11e5-9f4b-da5819c5dbe5.png)
Which looks good.  But what log  is it tha

[2015-11-10 16:49] bgruening commented on #101
Awesome!

[2015-11-10 16:50] bgruening commented on #102
@GuyReeves can you remove the `-d` option and use `-i -t`. You will see a lot of logs on this console output. This is what we need :)

[2015-11-11 12:05] javiernavarrofernandez commented on #55
@ChristianKniep  I guess you solved the problem. I have exactly the same output. Any clues?  I'm stuck with this... Thx!!!

[2015-11-11 12:22] bgruening commented on #55
@ChristianKniep have you cloned it with submodules? It's described here: https://github.com/bgruening/docker-galaxy-stable#development
If so what can you tell me which Docker backend you are using? `docker info | grep Storage`

[2015-11-11 12:46] ChristianKniep commented on #55
I am on boot2docker, therefore `aufs`.
I still get the same error:
[code]

[2015-11-11 12:59] bgruening commented on #55
Can you give me all commands you used, so I can try to reproduce it. (Un)fortunately, I'm not on OS-X ;)

[2015-11-11 13:03] ChristianKniep commented on #55
I cloned your repo and build it. Nothing fancy. I din't got the `FROM` image, so I pulled the latest one - maybe that's where we differ?
[code]

[2015-11-11 13:05] bgruening commented on #55
You need to clone this way: `git clone --recursive`
Please reads out documentation and the development section: https://github.com/bgruening/docker-galaxy-stable#development

[2015-11-11 13:22] ChristianKniep commented on #55
Ups... now it went through... :dancer:
Sorry for the bother. Stupid me.

[2015-11-11 13:27] bgruening commented on #55
@ChristianKniep no problem. Let me know if we can make this more obvious ... in general any feedback is appreciated :)

[2015-11-11 13:42] bgruening commented on #100
@mictadlo any news here? Can we close this. Galaxy dev is expected to not work as @natefoo has changed the dependency handling and I need to catch up with all changes.

[2015-11-11 13:43] bgruening commented on #99
I would need an error message to tell you more ...

[2015-11-11 13:49] bgruening commented on #97
@mvdbeek do we have access to this `--user id` from inside of the container? If not what about implementing a `-e RUN_AS_USER=1100` switch and create this user during startup? Maybe this does not work because this ` --user` can not create users?

Nevertheless, interesting. If the above does not work, do you mind adding this to the readme as hint for flavour developers?

[2015-11-11 13:49] bgruening commented on #89
Is this still valid @mictadlo?

[2015-11-11 13:51] bgruening commented on #87
From you last message I assume that you got it working? This is great. Hope you enjoy IEs!

[2015-11-11 13:51] #87 closed

[2015-11-11 14:17] javiernavarrofernandez commented on #55
We have got the same error still using a different Docker version. We have already cloned the repo using "recursive":

    git clone --recursive https://github.com/bgruening/docker-galaxy-stable.git

Docker build throws this error:

    TASK: [galaxyprojectdotorg.galaxyextras | Install web related system packages] ***
    skipping: [localhost]
    TASK: [galaxyprojectdotorg.galaxyextras | Create G

[2015-11-11 14:49] GuyReeves commented on #102
Ok
 I did that and set the up the same big job and I will send the terminal output as a text file ( I cleared the terminal text just before I clicked go).  It will probably  run until tomorrow. Thanks  guy

[2015-11-12 12:32] GuyReeves commented on #102
OK so it finished.  I had done exactly the  the same thing as before (though I may have tweaked some parts of the worflow) but this time I sent each of the 45 jobs to a different history -rather than to  the same history as i had done originally.
This time I did not get one error, they all completed fine.  Which for me is great.  Would you like me to try and run it again putting it all into a sing

[2015-11-12 12:46] bgruening commented on #102
First of all, glad it works for you now. This seems like a big workflow with many steps - awesome!

Interesting that it works with multiple histories. I will discuss this today with the Galaxy team. If you have some computational power left, it would be nice to know if you can reproduce it with one history.

[2015-11-12 14:43] GuyReeves commented on #102
Hi I am happy to do this.  But I have a small problem, I do not appear to be able to permanently  delete my histories so I am filling up my disk. I do not really want to run scripts to purge files if I can avoid it and I am the only one using the machine.  I tried adding to the restart command
 -e "allow_user_dataset_purge= True"
Would this allow me to purge files, I does not appear to make any di

[2015-11-12 14:46] bgruening commented on #102
@GuyReeves this is exactly what you need to do. But you need to prefix the environment variable with `-e "GALAXY_CONFIG_ALLOW_USER_DATASET_PURGE=True" `

Have a look at: https://github.com/bgruening/docker-galaxy-stable#galaxys-config-settings

[2015-11-12 15:47] GuyReeves commented on #102
Thanks,  I see what I  left out now.  Can purge now with no problem.
I have restarted the jobs and the terminal log is set.  Thanks again.

do i need to keep the -e "GALAXY_CONFIG_ALLOW_USER_DATASET_PURGE=True" in my restart command permanently now or having used it once it  will have made a change to the config file which will be copied to subsequent restarts?

[2015-11-12 15:48] bgruening commented on #102
You need to have it permanently. Great that it works now.

[2015-11-12 22:42] mictadlo commented on #99
Hi @bgruening,
I changed to *bgruening/galaxy-stable:15.07* and the error massage changed to **Failed: Not Found (404)** while uploading a local file through the of upload/dowload icon on the left top side.

The Galaxy container is also missing  *Get Data* heading on the left and e.g. the below tools are not there:

* Upload File from your computer
* UCSC Main table browser
* UCSC Test table brows

[2015-11-12 22:44] mictadlo commented on #89
Thank you. The problem is gone now.

[2015-11-12 22:44] #89 closed

[2015-11-13 09:58] mictadlo commented on #100
Stable one has worked. Thank you.

[2015-11-13 09:58] #100 closed

[2015-11-13 16:35] natefoo commented on #100
@mictadlo I have created galaxyproject/ansible-galaxy-extras#16 to fix this.

[2015-11-13 16:36] bgruening commented on #100
Many thanks @natefoo!

[2015-11-16 13:36] mictadlo commented on #99
Udate2: Is this (http://gmod.827538.n3.nabble.com/Data-uploaded-with-new-upload-tool-doesn-t-get-added-to-history-td4046375.html) maybe the solution?

[2015-11-16 16:05] mvdbeek commented on #97
@bgruening sorry, I missed the notification somehow. I don't think that after invoking docker run you can change the user id. Creating the user at startup should work. Could be a supervisor controlled script. I can experiment with that.

[2015-11-19 15:03] bgruening commented on #80
Ok @afgane let's work on this :)

[2015-11-19 15:16] mvdbeek commented on #80
I'm in too (... if you want ;)), we got this working on the cloud, shouldn't be different for docker.

[2015-11-19 15:20] bgruening commented on #80
Sure, I'm currently working on dev and updating all things that have changed during the time. If you want to include the new playbook ...

[2015-11-19 15:23] mvdbeek commented on #80
yup, sounds good.

[2015-11-19 15:33] mvdbeek commented on #80
@bgruening can you ping me once you have something semi-stable? just to avoid working on the same thing at the same time ...

[2015-11-19 15:47] bgruening commented on #80
Sure, I think this will take some time. eggs and some playbook changes will take a while. How is the conference.

[2015-11-19 16:04] mvdbeek commented on #80
Pretty nice! Lot's of interesting discussions and talks.
Btw, if you have access to an aws instance, the playbooks runs lightning fast.

[2015-11-19 16:16] bgruening commented on #80
I'm in James lab currently and we are hacking on a few projects. If I would be in Europe I would be with you ;)

[2015-11-20 20:35] bgruening commented on #80
@mvdbeek we have a lot of new stuff in the dev branch including a initial testing framework.

[2015-11-21 08:16] mvdbeek commented on #80
OK, I'll get familiar with it, let's see where it breaks :)

[2015-11-21 12:07] bgruening commented on #80
:) You will need this patch: https://github.com/galaxyproject/ansible-galaxy-extras/pull/23
After this all bioblend test will nearly pass. I have some 3 tests with timeouts, but most of them are passing.
One idea that is not implemented is to test additional things like the proftpd server. Like simply upload something via ftp to Galaxy.

If you want to work on tests have a look here: https://githu

[2015-11-21 12:18] mvdbeek commented on #80
We're testing the ftp regularly on our prod server using bioblend, so I
could definitely look into that

On Sat, Nov 21, 2015, 1:07 PM Björn Grüning <notifications@github.com>
wrote:

[2015-11-21 12:32] bgruening commented on #80
@mvdbeek https://github.com/bgruening/docker-galaxy-stable/pull/106 latest branch, with the merged bugfix from ansible. If we are lucky travis will run and only fail on a few tests.
I will be travelling over the weekend, not sure if I have internet access.
Have a nice weekend!

[2015-11-21 12:52] bgruening commented on #80
So close, so close: https://travis-ci.org/bgruening/docker-galaxy-stable/builds/92427619

[2015-11-21 22:16] bgruening commented on #80
@mvdbeek, @afgane  with this https://github.com/galaxyproject/bioblend/pull/174 and this https://github.com/galaxyproject/ansible-galaxy-extras/pull/24 and the new travis_testing branch all tests are passing!

So we can add new ones :)

[2015-11-21 22:18] bgruening commented on #80
@afgane if you are confident we can use the new installation procedure, can you please update the readme file? Thanks!

[2015-11-21 23:08] gregvonkuster commented on #80
I've got the latest install of galaxy-docker-stable, but I cannot get jobs to start.  Is there something I'm missing?  I've rebuilt the Docker image several times, and downloaded components seem to finish correctly.

==> /home/galaxy/uwsgi.log <==
192.168.99.1 - - [21/Nov/2015:21:44:01 +0000] "GET /api/histories/f2db41e1fa331b3e/contents HTTP/1.1" 200 - "http://192.168.99.100:8080/" "Mozilla/5.0 (

[2015-11-23 07:49] bgruening commented on #80
@mvdbeek I think I got it. Testing is now working on dev. Time to extend it :)
@gregvonkuster please make always sure you have all submodules updated as well. I hope the testing can convince you that it should work :). In worst case a new `git clone --recursive` should do the trick :)

[2015-11-23 12:28] gregvonkuster commented on #80
@bgruening Sorry, I should have clarified that I'm running this on OS X, and I just noticed this section in your README: Using an external Slurm cluster.  So I'm thinking I should be using this option, -e "NONUSE=slurmctld" which I will try next. ;)

[2015-11-23 12:38] bgruening commented on #80
@gregvonkuster you probably don't want to use a external Slurm installation, you want to use the internal Slrum I guess. This means a simple `docker run -i -t -p 8080:80 bgruening/galaxy-stable:dev` should be enough. I pretty sure this was a bug in one of the newer ansible roles, which we fixed two days ago.

[2015-11-23 12:46] gregvonkuster commented on #80
@bgruening Ok, thanks!  I'll keep you posted.

[2015-11-23 13:25] gregvonkuster commented on #80
@bgruening Sorry - I'm still learning here.

Retrieving your image like this...
docker pull bgruening/galaxy-stable
...works just fine.  But retrieving my image that depends on it like this...
docker pull gregvonkuster/docker-galaxy-csg:master
...produces the slum connection error.

Is there something more I need to do in my Dockerfile beyond this?
FROM bgruening/galaxy-stable:dev

[2015-11-23 15:43] bgruening commented on #80
I guess you need to trigger a rebuild in Dockerhub. Alternatively, you can depend your image in galaxy-stable, which will trigger a automatic rebuild everytime galaxy-stable is rebuild.

[2015-11-23 18:44] gregvonkuster commented on #80
@bgruening Everything is working fantastically!  ;)  Thanks so much for helping out!

[2015-11-23 19:10] bgruening commented on #80
@gregvonkuster awesome!

[2015-11-23 19:10] bgruening commented on #80
@gregvonkuster feel free to add your flavour to the readme.md file :)

[2015-11-23 21:46] afgane commented on #80
@bgruening, see PR #109 for the switch to the new installation procedure.

[2015-11-23 21:53] bgruening commented on #80
Thanks @afgane I will comment on the PR! Let's see if the tests are running :)

[2015-11-24 08:56] bgruening commented on #99
I would need the Galaxy log file? I guess that Slurm is not running. Can you upload any file? Start any job?
We have added extensive testing in the :dev branch, that also tests uploading files. With this you can see immediately, if you container works or not.

[2015-11-24 08:59] bgruening commented on #76
I will close this for now. Let me know if you see this again.

[2015-11-24 08:59] #76 closed

[2015-11-24 09:01] bgruening commented on #78
Please have a look at the Galaxy logs and follow exactly the steps in the readme. We have tests added in dev to check things like that. Might be a good starting point to see if the containers was build successfully.
Hope it is working now for you, otherwise please open a new issue.
Thanks!

[2015-11-24 09:01] #78 closed

[2015-11-24 17:18] bgruening commented on #80
@afgane how do we want to proceed with the two left bullet-points? Move them over to the ansible tool role?

[2015-11-24 17:28] afgane commented on #80
It turns out the last bullet point is actually doable now. It's not explicit but it works as expected. I've tested it and updated the docs in the tools role to reflect that: https://github.com/galaxyproject/ansible-galaxy-tools/commit/9d3b025e0dc45a82accd8553fd450bf9306f0211.

I'm not sure I understand what you mean by *figure out how to install into multiple categories at a time*?

[2015-11-24 17:38] bgruening commented on #80
"How to install tools into multiple categories." A few tools fit into multiple categories.

[2015-11-26 11:57] GuyReeves commented on #102
HI

Sorry I did not get back to this sooner.  I have run the same workflow (with about 60 steps) over 300 times on  different data sets now.  My fail rate is about  6%.   This is even when I send the results to different histories ( I gave up sending them all to same one history as it was too difficult to view the results).

For those histories  that do fail  I can can either
 (1) restart the fail

[2015-11-26 12:14] bgruening commented on #102
@jmchilton do you have any idea here?

[2015-11-28 16:47] bgruening commented on #99
@mictadlo we added a large test suite into the dev branch and are now testing all images with bioblend. So we are uploading data, running tools and so on. I hope this is working now for you as well.

[2015-11-28 16:47] #99 closed

[2015-11-28 16:53] bgruening commented on #74
@oxyko @bcclaywell we have a few nice changes in dev, including a new travis based test suite. So if you want to change something it's more unlikely to break something :)

[2015-11-28 16:59] bgruening commented on #68
@ksuderman @lparsons is there anything I can do here?
Can this be closed?

[2015-11-28 17:30] ksuderman commented on #68
I think you can close this. There is not much you can do other than document the problem and possible work arounds.

I've simply been mounting volumes I need to write to in the VirtualBox VM and then using `docker-machine scp` or `docker-machine ssh` to configure things in the VM if needed.  However, I discovered that Docker mounts '/' as a 3Gb partition so volumes should really by mounted under /

[2015-12-02 20:09] erasche commented on #53
Could you not auto-upgrade? The db migration script could be run on every launch without too many problems I think. If there aren't any upgrades to be done it just exits.

[2015-12-02 20:11] erasche opened #115 "[Question] Environment variable (flavour?) for dev work"
I'm wondering if anyone else has these problems. I want to test out a package before I open a PR and have to launch the image, shut it down, edit the config file to uncomment the TTS, and then re-launch the image. This seems like it could be solved through an environment variable or flavour maybe at the extreme? Just figured I'd throw this out there in case anyone had solutions easier than the fou

[2015-12-02 20:18] bgruening commented on #115
@erasche is `ENABLE_TTS_INSTALL` what you are searching for?

https://github.com/bgruening/docker-galaxy-stable#magic-environment-variables

[2015-12-02 20:20] bgruening commented on #53
I could but I'm afraid to do this automatically. What happens it it fails? Should I do a automatic backup before ... not sure.

Does any user has some idea here? @dpryan79 ?

[2015-12-02 20:21] erasche commented on #115
Ack! Es tut mir leid.... yes, that's exactrly what I wanted. I didn't know that was a feature! You rock! :)

[2015-12-02 20:21] #115 closed

[2015-12-02 20:23] bgruening commented on #115
I suck at documentation :)
Maybe it's time to go with readthedocs.

[2015-12-02 20:39] dpryan79 commented on #53
Eeek, please no!

In our case, the last upgrade needed some playing around with to get everything to work properly and I don't expect the next one to be any different in that regard. The only time I need to restart the docker image is when something crashes, which only happens when (A) a tool is very poorly designed or (B) someone is pushing through a LOT of data at once (inevitably due to a pendi

[2015-12-02 20:51] bgruening commented on #53
This was a problem with database migrations? Any idea how I can make it easier for you, I'm mean the database migration.
Is additional documentation enough how to call the original database migration script via an entrypoint? Or do you expect some more magic?

[2015-12-02 21:07] dpryan79 commented on #53
I recall it not being only the database migration, though I don't recall all the details. Since we'll be updating the deeptools docker image within the next few weeks I'll let you know how easy the upgrade process is now :)

[2015-12-02 21:11] bgruening commented on #53
Thanks Devon!

[2015-12-04 06:38] kellrott opened #116 "Lite version"
I've been using this docker image for rapid deployment of self-contained galaxy instances, to run workflows, and when finish, be torn down. There is a lot of additional things going on in the container that aren't really necessary for this kind of usage. So I've made a 'lite' fork: https://github.com/kellrott/docker-galaxy-stable/tree/lite
Changes include:
- a single Galaxy process
- no slurm, jus

[2015-12-04 12:45] gregvonkuster commented on #116
@kellrott Awesome!  ;)

[2015-12-04 13:20] jmchilton commented on #116
I have a bold proclaimation  - the database locking errors with sqlite have been fixed in dev branch. For applications such as this, there may be no reason for postgres at all. Just something to consider.

[2015-12-04 18:41] kellrott commented on #116
So dev, not 15.10? I'll defiantly try a build with just the sqlite.

This is a bit of a slash and burn approach right now. Any thoughts on how to make these kinds of revisions might be done in such a way that they are more compatible with the other branches?

[2015-12-04 18:44] jmchilton commented on #116
Yeah - not 15.10 - that will definitely still lock up.

[2015-12-04 23:30] bgruening commented on #116
@kellrott thanks for sharing. I saw that you have not used the 15.10 version. There should be a branch called 15.10 that you can use as base.
Also there is a new dev branch with many changes and CI testing enabled that might be interesting for you.
For example you can now dynamically choose how many processes and threads you can use.

 * enable Travis testing for all builds and PR
 * offer new yam

[2015-12-07 23:28] kellrott commented on #116
I think the things I'm looking for are:
-smaller footprint (this isn't a top requirement)
- Fewer processes, get to a single python process if possible (ie using sqlite). This would mean taking out nginx, node, slurm, and proftp
- a startup program that returns (rather then hanging on and trailing the logs like the current version), this would allow a second program to execute and run jobs

Maybe

[2015-12-08 09:17] bgruening commented on #116
I guess this will be hard if we don't want to split it up into two projects, repositories ...

This should be feasible already by using `-e "NONUSE=nodejs,proftp,reports,slurmd,slurmctld"`.

Exactly!
[code]
In this script we could simply do not start all processes, only these you want. I guess we could add everything what you want to this new `startup_lite` script, e.g. the new DB access URL.
Like

[2015-12-09 21:37] yhoogstrate opened #119 "supervisorctl restart galaxy is not working"
I was following your README to restart galaxy. It says:

`supervisorctl restart galaxy` but it gave the following error:
[code]

What worked for me are `supervisorctl restart galaxy:*` and `supervisorctl restart galaxy:galaxy_web`

[2015-12-10 07:07] bgruening commented on #119
@yhoogstrate actually it is written `supervisorctl restart galaxy:`. Please note the colon at the end. This means `galaxy` is a supervisor group and you can restart many services at once. Hope this helps.

[2015-12-10 11:05] yhoogstrate commented on #119
You're right, Sorry!!

[2015-12-10 11:05] #119 closed

[2015-12-11 22:02] kellrott opened #123 "dev version still running pip"
Startup of the dev branch seemed slow, and it looks like pip was hitting some network issues
I think its essential that the docker image be fully formed, and not still have dependencies to finish downloading before it can launch.

[code]

[2015-12-11 22:07] bgruening commented on #123
I will look into it. But this is the new wheel framework in dev. I guess it is checking for updates.

[2015-12-11 23:49] kellrott commented on #116
I've built a pull request around the 'startup_lite' script: https://github.com/bgruening/docker-galaxy-stable/pull/122

[2015-12-13 10:44] bgruening commented on #116
Fixed with #122

[2015-12-13 10:45] #116 closed

[2015-12-13 10:56] bgruening commented on #116
@kellrott please feel free to enhance the readme: https://github.com/bgruening/docker-galaxy-stable/commit/d11f70827f264772fb61702ceb42cb5398808d9b

Would be nice to list your use case as an example.

[2015-12-14 05:22] kellrott commented on #123
Patch to avoid update checks, for startup_lite, in https://github.com/bgruening/docker-galaxy-stable/pull/124

[2015-12-14 07:00] bgruening commented on #123
Awsome! Thanks!

[2015-12-14 07:00] #123 closed

[2015-12-30 10:37] mictadlo opened #127 "IE does not work"
Hello,
I am still no able to use IE (Rstudio and Ipython). The logs show the following:

127.0.0.1 - - [30/Dec/2015:01:55:06 +0000] "GET /visualization/show/rstudio?dataset_id=f2db41e1fa331b3e HTTP/1.1" 200 - "http://localhost/" "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:43.0) Gecko/20100101 Firefox/43.0"
[pid: 189|app: 0|req: 10/15] 172.17.0.1 () {48 vars in 928 bytes} [Wed Dec 30 01:55:06 2015]

[2015-12-30 11:06] bgruening commented on #127
You are running Galaxy 15.10? Do you have your proxy started? Can you provide us with the proxy log?
Your Galaxy URL looks wrong: `"GALAXY_URL=http:/"` you can change this in ipython.ini.
Moreover you can try to access Galaxy with your real hostname instead of `localhost`.

[2015-12-30 12:31] mictadlo commented on #127
Yes, I am running 15.10.
Where can I find the Apache Proxy log on Ubuntu 14.04?
How do I log in to the container and where is ipython.ini located?

[2016-01-01 13:42] bgruening commented on #127
There is no Apache proxy. This container is using nginx. Can you please post the command you used to start the container?

[2016-01-02 04:08] mictadlo commented on #127
Hi @bgruening,
I am using Linux Mint 17.2 and docker 1.9.1 in VirtualBox. The host system is CentOS 6.6.

**With DOCKER_PARENT=True**

    docker run -p 8080:80 -p 8021:21 -p 8800:8800 --privileged=true -e DOCKER_PARENT=True -v /var/run/docker.sock:/var/run/docker.sock -v /home/galaxy/galaxy_storage/:/export/ -e "GALAXY_CONFIG_ADMIN_USERS=m..." -e "host=0.0.0.0" bgruening/galaxy-stable
    munged:

[2016-01-02 13:48] bgruening commented on #102
@GuyReeves can we close this. The next release will have many many workflow bugfixes and hopefully your fail rate will drop to zero :)

Happy new year!

[2016-01-02 16:34] bgruening commented on #68
@lparsons @ksuderman we have added a small section about `data containers` to the Docker readme file: https://github.com/bgruening/docker-galaxy-stable#usage

This might be a good solution for this problem.

[2016-01-02 16:34] #68 closed

[2016-01-02 16:36] bgruening commented on #97
The @mvdbeek let me know what I can do for you here. Also please note the new section about data containers in our readme file: https://github.com/bgruening/docker-galaxy-stable#usage

This might be a good solution for all data related work.

[2016-01-02 16:40] bgruening commented on #64
@ksuderman when was this edit? :)
I hope this is now fixed. We have a lot of new stuff in :dev and we also introduced travis testing. So if this is not fixed we could add this to travis testing and make sure it never breaks again.

@ksuderman @vebaev please reopen this issue if you still have this problem.

[2016-01-02 16:40] #64 closed

[2016-01-02 16:43] bgruening commented on #40
@jmchilton anything we need to do before closing this.

[2016-01-02 16:48] jmchilton commented on #40
I guess not, awesome work @bgruening!

[2016-01-02 16:48] #40 closed

[2016-01-03 23:40] bgruening commented on #127
Please read this section https://github.com/bgruening/docker-galaxy-stable#enabling-interactive-environments-in-galaxy

All what you need to run is:
[code]

Please note that the first time you run any of these IE is needs to fetch the container. This can take a while, depending on your connection up to an hour. This means you will see a timeout the first time you start an IE.

[2016-01-04 10:03] GuyReeves commented on #102
HI Björn

Sure close it and thanks for looking into it.

By the way do you happen to know of any body who might be interested in bioinformatics  position we are about to advertise?  Or do you know of any good places to repost adverts so German bioinformaticians see it ?

Thanks

Guy

[2016-01-04 10:24] mictadlo commented on #127
I tried to use the following command:

and received the following docker error massages:

    time="2016-01-04T10:31:04.992632146Z" level=error msg="[graphdriver] prior storage driver \"btrfs\" failed: prerequisites for driver not satisfied (wrong filesystem?)"
    time="2016-01-04T10:31:04.992777695Z" level=fatal msg="Error starting daemon: error initializing graphdriver: prerequisites for driver

[2016-01-04 10:47] #102 closed

[2016-01-04 10:49] bgruening commented on #102
If this would be so easy ... bioinformaticians are rare due to our great education system. I will ask here around, if you have a PDF or a small text let me know and I will redistribute it.

[2016-01-04 10:53] bgruening commented on #127
This seems to be a general Docker problem with your driver-backend (btrfs). See here for example: http://stackoverflow.com/questions/30669359/docker-with-btrfs-ubuntu

[2016-01-04 11:51] bgruening commented on #74
@oxyko @bcclaywell we have added documentation to use Docker data containers as backup strategy to the readme file.
I will close this for now, but please feel free to reopen at anytime.

[2016-01-04 11:51] #74 closed

[2016-01-04 15:18] gregvonkuster opened #130 "Missing Visualization plugin icon in history items"
This image https://github.com/gregvonkuster/docker-galaxy-csg/blob/master/Dockerfile is based on docker-galaxy-stable:dev, which now includes the CSG visualization plugin  in ~/config/plugins/visualizations/csg - I've confirmed that this plugin is included in the image.  But tools that produce datasets whose datatype is associated with this CSG Viewer do not display the visualization icon in the h

[2016-01-04 15:21] bgruening commented on #130
Are you logged in? :)
Ah ... this is a special filetype. I guess we have not found and VIS or IE to this datatype. Can you try some text based datatype?

[2016-01-04 15:31] gregvonkuster commented on #130
This is actually working just fine.  It turned out I had an older container running.  Very sorry for this!  :(

[2016-01-04 15:31] #130 closed

[2016-01-05 03:32] mictadlo commented on #127
I also posted on docker issue ( https://github.com/docker/docker/issues/19065 ) and received the following answer:

       In order to use btrfs, docker storage dir must be on a btrfs partition.

What kind of distribution the IE docker user  use?

[2016-01-05 13:00] mictadlo commented on #127
# Install docker-engine
    apt-key adv --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D
    echo "deb https://apt.dockerproject.org/repo ubuntu-trusty main" > /etc/apt/sources.list.d/docker.list
    apt-get update
    apt-get install linux-image-extra-4.2.0-22-generic linux-headers-4.2.0-22-generic btrfs-tools
    apt-get purge lxc-docker
    a

[2016-01-05 13:01] mictadlo commented on #127
I was able to sovlve the problem with btrfs, but for some reason IPython and Rstudio still does not want to start:

    docker run -d -p 8080:80 -p 8800:8800 -p 9002:9002 --privileged=true -e "GALAXY_LOGGING=full" bgruening/galaxy-stable

*IPython*

    l=info msg="POST /v1.19/containers/c7b9b11a8dc2258a257181cb6c8b607a2a3164360f195ac0e350b79da35c2271/start"
    time="2016-01-05T11:43:12.142937612

[2016-01-05 16:38] jjkoehorst commented on #127
/usr/bin/docker daemon -g /var/lib/docker2

    INFO[0000] API listen on /var/run/docker.sock
    INFO[0000] [graphdriver] using prior storage driver "aufs"
    INFO[0000] Firewalld running: false
    INFO[0000] Default bridge (docker0) is assigned with an IP address 172.17.0.1/16. Daemon option --bip can be used to set a preferred IP address
    WARN[0000] Your kernel does not support swap memory

[2016-01-05 22:18] mictadlo commented on #127
You need to create a new partition just for the docker container and format it so it get btrfs. Please read my above post:

        Solution for the btrfs problem

[2016-01-06 02:42] mictadlo commented on #127
I had to change grub setting in the following way

    sudo vim /etc/default/grub
    GRUB_CMDLINE_LINUX_DEFAULT="cgroup_enable=memory swapaccount=1"

then

    sudo update-grub && sudo reboot

Unfortunately, I received  *Running modprobe bridge nf_nat failed with message: , error: exit status 1* (https://github.com/docker/docker/issues/19114)

    level=info msg="[graphdriver] using prior storage

[2016-01-06 23:31] mictadlo commented on #127
@jjkoehorst were you able to get IE running?  Unfortunately, I am not able to get it running.

[2016-01-07 06:22] jjkoehorst commented on #127
No but I have some issues with creating new partitions and grub as it is not my machine it is running on. Not sure if they are willing to allow me to do such things... I hope it can be fixed on the image side as I cannot believe that everybody needs to format or repartition their computer just to get this to work?

[2016-01-07 09:34] mvdbeek commented on #127
I really don't think it's necessary to use btrfs, docker-in-docker used to work in the past. Sorry I can't be more specific, but creating a btrfs partition just for docker is not addressing the problem at its root, and is likely not related to getting IE's to work.

[2016-01-07 10:17] mictadlo commented on #127
Has anyone a VM with working IE? VM might solve the problem with Docker-in-Docker.

[2016-01-07 10:23] mvdbeek commented on #127
OK, I got it (almost) working, but I bet it will once the ipython container finishes downloading.
Can you start your docker container, then enter `(docker exec -it (id_of_the_container) bash) `.
Edit `/etc/supervisor/conf.d/galaxy` to look like this:
[code]
Then `supervisorctl update && supervisorctl start docker`.
Then a docker ps on the commandline should give you this:
[code]
From there on you

[2016-01-07 11:15] mvdbeek commented on #127
actually, a PR is not necessary, these changes are already in docker-galaxy-stable:dev.

[2016-01-07 11:16] mictadlo commented on #127
I followed your instructions, but Ipython and Rstudio does not appear in the browser. However, *docker ps* show that the images have been loaded.

    root@e8ea7c754692:/galaxy-central# docker images
    REPOSITORY                          TAG                 IMAGE ID            CREATED             VIRTUAL SIZE
    bgruening/docker-ipython-notebook   15.10.1             8ab94b7005ac        3 weeks

[2016-01-07 11:18] mvdbeek commented on #127
For now it doens't work for me either. But there were major changes in release_16.01, so I'm trying now with `bgruening/docker-galaxy-stable:dev`.

[2016-01-07 11:21] mvdbeek opened #131 "latest dev does not start docker from supervisor"
This is for IMAGE_ID `138e69696437`.
First start: `docker run -d --privileged -p 8800:8800 -p 8080:80 bgruening/galaxy-stable:dev`
[code]

[2016-01-07 11:35] mvdbeek opened #132 "AttributeError: 'Bunch' object has no attribute 'proxy_url'"
Again, latest dev.
After making sure docker is running and the image has been downloaded I see the image create, start, die and in the galaxy logs I see
[code]
I suppose the `PROXY_URL` env needs to be set somewhere.

[2016-01-07 12:22] mvdbeek commented on #132
If I set it to 127.0.0.1 I see this in uwsgi.log:
[code]
Note the `"GALAXY_URL=http:/"`, this looks pretty wrong, and is probably the source of the 404

[2016-01-07 13:19] bgruening commented on #132
This is because the docker daemon does not start I suppose. Is this with docker 1.9.1? I guess they changed again the dind stuff and this needs to be updated.

[2016-01-07 13:22] mvdbeek commented on #132
no, this is with a correctly running docker in docker. I think the problem is I'm missing an environmental_variable for GALAXY_CONFIG_GALAXY_INFRASTRUCTURE_URL.

[2016-01-07 13:28] mvdbeek commented on #132
setting GALAXY_CONFIG_GALAXY_INFRASTRUCTURE_URL now I get:
[code]
So I guess I also set GALAXY_WEB_PORT?

[2016-01-07 15:34] bgruening commented on #127
Hi!

I hope I will find time this weekend to have a deeper look. But btrfs as backend is not needed, at least it was not needed with Ubuntu 15.04 and Docker < 1.8. The problem is that Docker changes to frequently and there are so many backends that do not work properly. This is not only because of Docker but also because of different distributions shipping buggy backends, like aufs under Ubuntu.

[2016-01-07 16:21] mvdbeek commented on #132
well, I'm giving up for now ... but i'd definitely be testing new images, just ping me @bgruening

[2016-01-08 01:45] mictadlo commented on #127
Thank you for trying to fix it. I am using Linux Mint 17.3 (kde 64 bit) on a VirtualBox, docker-engine 1.9.1, Kernel 4.2.0-23. Please find below the outputs:

* uname -a
* docker info
* docker version
* mount
* check-config.sh
* How to set the software up

**Software information**

    Linux galaxy-VirtualBox 4.2.0-23-generic #28~14.04.1-Ubuntu SMP Thu Dec 31 13:40:42 UTC 2015 x86_64 x86_64 x86_64

[2016-01-10 11:17] bgruening commented on #127
Ok, here a fist status report. I updated the Ubuntu box to 15.10, which is exactly your kernel.

[code]

and voila, Docker in Docker is working anymore. Using the `overlay` backend I can not build the image, reported here: https://github.com/docker/docker/issues/19215

Using the aufs backend, kicksoff Docker in Docker and pulling IPython keeps forever and fills my disc space with 50 GB and never e

[2016-01-10 11:21] mvdbeek commented on #127
@bgruening have you tried with `--storage-driver=vfs` inside docker? This is working for me (also ubuntu-15.10). Are you sure setting `autostart=true` for the docker daemon doesn't solve the problem?

[2016-01-10 11:26] bgruening commented on #127
Storage driver is always vfs: https://github.com/galaxyproject/ansible-galaxy-extras/blob/master/templates/supervisor.conf.j2#L169

What do you mean with `autostart=true`? supervisord? Docker is running this is not the problem, the problems seems to be some wired aufs bug on the host.

So if it's working for you can you try the more_travis branch and see if the container starts from the automatica

[2016-01-10 11:30] mvdbeek commented on #127
yes, for dev! but here me (and I think @mictadlo too) were using stable. Switching to dev solved the storage driver btrfs things for me.
I will try the more_travis branch.

[2016-01-10 11:52] mvdbeek commented on #127
@bgruening great, with the more_travis branch docker starts up automatically (`Docker version 1.9.0, build 76d6bc9`).

[2016-01-10 11:54] mvdbeek commented on #131
good, this is solved with the more_travis branch.

[2016-01-10 11:54] #131 closed

[2016-01-10 11:55] bgruening commented on #127
And now please tell me that it works for you ;)
Are you running the latest kernel - 4.2.0-23-generic?

[2016-01-10 11:57] mvdbeek commented on #127
nope, but I can update:
[code]

[2016-01-10 12:01] bgruening commented on #127
Maybe nothing is working than for you as for me ;)

[2016-01-10 12:12] mvdbeek commented on #127
nope, everything still good, as far as I can tell.
[code]
[code]
[code]

[2016-01-10 12:14] mvdbeek commented on #127
I haven't tested the IEs though, I'll do that next.

[2016-01-10 13:28] bgruening commented on #127
@mvdbeek travis is now happy and is testing at least if we can run Docker in Docker.
But this is bound to one Docker version. Currently we test against 1.9.1.

[2016-01-10 13:31] bgruening commented on #132
As far as I know this error only appears if Galaxy tries to start Docker and in a next steps reads from Docker the port informations from Docker ps. If this does not succeed you get this error.

[2016-01-10 19:56] bgruening commented on #127
So end of the weekend: If you take this branch https://github.com/galaxyproject/ansible-galaxy-extras/pull/38 and the https://github.com/bgruening/docker-galaxy-stable/tree/more_travis it should hopefully work as expected. Tested with Docker 1.9.1 and aufs backend.

[2016-01-11 20:38] bgruening commented on #127
@mictadlo @jjkoehorst @mvdbeek please give this image a try:

`docker pull quay.io/bgruening/galaxy:more_travis`

If this works it will become Galaxy 16.01 at some point :)

[2016-01-11 20:44] bgruening commented on #97
@mvdbeek can we close this?

[2016-01-11 21:06] mvdbeek commented on #97
Sure!

[2016-01-11 21:06] #97 closed

[2016-01-11 21:08] mvdbeek commented on #132
Okay, for the records: I'm still seeing,
[code]
 even though the IEs work. But I guess that's more of a galaxy issue, so should I close this?

[2016-01-11 21:11] bgruening commented on #132
I will look at this again. No idea why this appears but IE's are working. So leave it open, it should be fixed for 16.01.

[2016-01-12 05:33] mictadlo commented on #127
At the moment I get *Error getting v2 registry: Get https://registry-1.docker.io/v2*

    time="2016-01-12T05:41:03.769065721Z" level=info msg="POST /v1.21/containers/create"
    time="2016-01-12T05:41:03.770290104Z" level=error msg="Handler for POST /v1.21/containers/create returned error: No such image: bgruening/docker-jupyter-notebook:16.01"
    time="2016-01-12T05:41:03.770317182Z" level=erro

[2016-01-12 08:29] bgruening commented on #127
Please keep trying :) Also please with the older ipython.
Dockerhub is still migrating from old to new registry, maybe there was a down-time?

[2016-01-12 10:11] mvdbeek commented on #127
with the pre-made docker image i'm back to
[code]

[2016-01-12 10:15] bgruening commented on #127
Are you using btrfs on your host as backend? Can you check with aufs?

[2016-01-12 10:17] mvdbeek commented on #127
No btrfs whatsoever, I modified the running container to storage-drver=vfs now and it seems to pull the jupyter image at least.
I'll try aufs next.

[2016-01-12 10:22] mvdbeek commented on #127
What is weird is that I build the image from your repo with changeset id 13051d25b0c170afd9d28800c980b669ad16233c and it worked. So in between there was only the update to ansible-galaxy-extras ...

[2016-01-12 10:24] bgruening commented on #127
`vfs` is suboptimal as it uses a large amount of disc-space. The ansible update removed the hardcoded `-s vfs` from Docker start, but I though you also have tested the latest image with this latest ansible role?

It strange that it works for me and it does not try to start the btrfs backend. Maybe we should hard-code the aufs backend to be sure.

[2016-01-12 10:25] bgruening commented on #127
Travis is also fine with this change, obviously and they are running aufs afaik.

[2016-01-12 10:31] mvdbeek commented on #127
I added storage-driver=aufs, so far so good, it's pulling the image.

[2016-01-12 10:58] mvdbeek commented on #127
Okay, it works with aufs, I guess hard-coding for the time being is a good idea.

[2016-01-12 13:54] mictadlo commented on #127
I noticed that pre_postgresql has status *exited* and maybe therefore I still get *"Error getting v2 registry: Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection"*.

[2016-01-12 13:55] mvdbeek commented on #127
It's supposed to be "exited", this is unrelated (but could be better.)

[2016-01-12 14:09] mictadlo commented on #127
Is my command correct *docker run -d -p 8080:80 -p 8800:8800 -p 9002:9002 --privileged=true -e "GALAXY_LOGGING=full" -v /var/lib/docker/galaxy_storage02/:/export/ quay.io/bgruening/galaxy:more_travis*?

[2016-01-12 14:11] mvdbeek commented on #127
in principle yes, but try without a volume mount, in case something weird happens there.

[2016-01-12 23:34] mictadlo commented on #127
I did not mount the volume, but still received *"Error getting v2 registry: Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection"*.

[2016-01-13 00:30] bgruening commented on #127
@mvdbeek https://github.com/galaxyproject/ansible-galaxy-extras/pull/43
This should also fix your latest problem @mictadlo.

Regarding your first issue, I found this: https://github.com/docker/docker/issues/15538 Does this help you in any way?

[2016-01-13 03:21] mictadlo commented on #127
Thank you, on the VM without BTRFS partition ipython, jupyter and rstudio are loading. However, I get now *"Couldn't run auplink before unmount: exec: \"auplink\": executable file not found in $PATH"*

    time="2016-01-13T03:27:25.058260050Z" level=error msg="Handler for POST /v1.21/containers/create returned error: No such image: bgruening/docker-ipython-notebook:15.10.1"
    time="2016-01-13T03

[2016-01-13 09:16] mictadlo commented on #127
My second problem is when I tried to use IPython with the following code:

    with open( get( 1 ), 'r') as handle:
	for line in handle:
		print( line )

Than I received  the following problems:

    ---------------------------------------------------------------------------
    Exception                                 Traceback (most recent call last)
    <ipython-input-3-7842fca36ab2> in <modul

[2016-01-14 06:53] jjkoehorst commented on #132
Just wanted to mention that I am currently running galaxy (release_16.01) $ I get a ⇝ AttributeError: 'Bunch' object has no attribute 'proxy_url'. On ubuntu 14.04. Should I clean all docker images and let galaxy pull it again?

[2016-01-14 08:25] bgruening commented on #132
@jjkoehorst what do you mean by 16.01. There is no Galaxy Docker Image yet. Or do you mean the latest :dev Image which targets 16.01?

Can you provide me your Docker version, the Docker backend and the exact Image ID you are using? We pushed yesterday a new Image to :dev with a lot of fixes to make Docker in Docker more stable.

[2016-01-14 12:03] jjkoehorst commented on #132
Yes sorry. I got here through another page and thought I was in the galaxy general project and not in the docker, that is indeed not there yet. I was talking about the general galaxy image.

[2016-01-14 12:19] bgruening commented on #132
@jjkoehorst please check if you can run Docker images on this host. This error message usually occurs if you are not able to start docker instances.

[2016-01-15 20:38] jmchilton opened #135 "Use galaxyproject.galaxy role to install and configure Galaxy."
This would bring docker-galaxy-stable closer inline with planemo-machine.

[2016-01-15 21:19] mvdbeek commented on #135
You could also use galaxy-os for the packages and users, and ansible-galaxy-extras now also manages the server state, so I think almost everything in the Dockerfile can go (but that depends how radical you want to be ...). If you you agree i could give it a crack. Ping @bgruening

[2016-01-15 21:26] jmchilton commented on #135
I want to be very radical :smirk: - I want the difference between planemo-machine, galaxy-ie-machine, and docker-galaxy-stable to be default values in an ansible variables YAML file.

[2016-01-15 21:27] mvdbeek commented on #135
Then take a look at https://github.com/ARTbio/ansible-artimed
You could look at the group_vars directory, for example aws and travis_bioblend build using the same playbook, and I got this to build it in docker https://github.com/ARTbio/artimed-docker

[2016-01-15 21:31] bgruening commented on #135
I'm fine with this. I mean this is what we are doing since one year, right? Moving stuff out of this project here and putting it in some playbooks.
I kind of dislike how scattered this is currently. We need to update various roles and playbooks to get one feature implemented. Also no playbook is under testing currently but this will hopefully change when 16.01 is released. We should build various

[2016-01-15 21:36] mvdbeek commented on #135
@bgruening https://travis-ci.org/ARTbio/ansible-artimed is building and testing since yesterday (and with it the various playbooks we use), and the docker container of this playbook are building on [travis](https://travis-ci.org/ARTbio/artimed-docker/builds/102059317) (but no testing yet).
I'll see how far I can get in making docker-galaxy!

[2016-01-15 21:39] jmchilton commented on #135
@mvdbeek Exactly, using group_vars is exactly what I do in planemo-machine. Your stuff looks awesome - a lot like planemo-machine in some ways - except I am using CloudMan's postgres stuff instead of @natefoo's. We should rationalize the postgres stuff across all four or five projects also :smile:, I guess I should use Nate's stuff like you do.

@bgruening Hopefully as the development moves into t

[2016-01-15 21:44] mvdbeek commented on #135
Also we have a lot of slightly different variable names, and then the documentation is all over the place too. I've started writing the docs for ansible-artimed, but I realised that if we could somehow parse all the # comments in front of variables we would be half-way there ...

Exactly, and in turn we benefit from state-of-the art IEs! ;)
Plus in the future people could submit their flavours as

[2016-01-15 22:07] bgruening commented on #135
Plus in the future people could submit their flavours as a PR (in terms of preloaded tools and workflows), and get pre-built docker images and cloud machines or VMs or whatever.

For the latter we already have a UI https://github.com/galaxyFlavorsGenerators/galaxyFlavorGenerator and some plans to integrate this in a community site to create Flavors. Let me know if you want to work on this :)

[2016-01-15 22:18] mvdbeek commented on #135
I saw this, it's amazing, though I really don't know any JS.
Would it be possible for the flavor generator to open a PR with the generated tool-list against the playbook repo, and then [insert any of travis, jenkins, ...] starts building and pushing the result to the docker hub [ or cloudlaunch ?! ] for the user to try. If you use an incremental build strategy this shouldn't take long. I'd be happ

[2016-01-15 22:23] bgruening commented on #135
The backend it's not yet clear. But it will trigger a build of images and make them accessible. We are not clear if we can use Docker hub for it, or if we want to provide a Docker hub. Currently you can download the Dockerfile and compile yourself ;)

[2016-01-15 22:36] mvdbeek commented on #135
Well, it could be optional, but let's say I (finally!) publish my paper, then it would be nice if I can have the set of tools and workflows that I used in a public, well-maintained repo, and I can be (kind-of) sure that people can find and use it with a recent version of galaxy. One way would be a PR with my flavour.
If you look at homebrew's packages I think a model based on PRs could be successf

[2016-01-15 23:50] bgruening commented on #135
@mvdbeek not sure if I understand the differences. Do you mean something like this:
https://github.com/bgruening/docker-galaxy-ngs-preprocessing or the one from Greg https://github.com/gregvonkuster/docker-galaxy-csg

[2016-01-16 09:28] mvdbeek commented on #135
Yes, but instead of a Dockerfile this would be a tool-list, a list of settings, perhaps a nice welcome.html, maybe pre-set for external PBS/Slurm, maybe with postgresql split out to the host or a HA-postgresql somewhere outside, with/without IEs, and (in addition to docker) for VMs or Cloud Machines or Bare Metal, and it would evolve together with the rest of the galaxy framework without a need fo

[2016-01-18 19:35] jjkoehorst commented on #132
I tested it on the host which did not work. Now I went back to my macbook with a fresh docker version and the latest galaxy docker. On this machine I get a combination of 'bunch' error, aufs and no space left on device:

fde5ce2c6d4c: Error pulling image (15.10.1) from bgruening/docker-ipython-notebook, endpoint: https://registry-1.docker.io/v1/, Driver aufs failed to create image rootfs 2b51dd2e2

[2016-01-19 14:36] mvdbeek commented on #135
@jmchilton

That's something i am looking for, you got some details?

[2016-01-20 16:48] bgruening commented on #132
@jjkoehorst this is really annoying. Dockerhub is really not pleasant to work with currently.
Can you try: quay.io/bgruening/docker-ipython-notebook:15.10.1 in a few hours. This is hopefully more reliable.

[2016-01-26 13:54] dpryan79 commented on #127
I'm getting a similar error on a fresh pull:

    Exception                                 Traceback (most recent call last)
    <ipython-input-1-583038ebeffd> in <module>()
    ----> 1 fh = open(get(1), "r")
          2 chroms = []
          3 for line in fh:
          4     l1 = line.strip().split()
          5     if l1[0] not in chroms:

    /home/jovyan/py/galaxy.py in get(dataset_id, histor

[2016-01-26 14:25] bgruening commented on #127
@dpryan79 can you try to access your Galaxy with a proper URI, so your hostname for example and not `localhost`? Also please try `:16.01`

[2016-01-26 14:36] dpryan79 commented on #127
@bgruening Apparently not, should be easy enough to solve. I'll also switch to 16.01

[2016-01-26 22:32] mictadlo commented on #127
Thank you it works  with http://10.0.2.15:8080/ and

    docker run -d -p 8080:80 -p 8800:8800 -p 9002:9002 --privileged=true -v /home/galaxy/galaxy_storage/:/export -e "GALAXY_LOGGING=full" quay.io/bgruening/galaxy:16.01

[2016-01-27 08:38] dpryan79 commented on #127
@bgruening Works now, silly routing issue.

[2016-01-27 09:03] bgruening commented on #127
Awesome! Sorry for the trouble.

[2016-01-27 09:03] #127 closed

[2016-02-04 11:49] mictadlo opened #138 "FTP access broken?"
Hello,
I am not able to send any files via FTP to the docker container. I started the docker in the following way:

   docker run -d -p 8021:21 -p 8080:80 -p 8800:8800 -p 9002:9002 --privileged=true -v /home/galaxy/galaxy_storage/:/export -e "GALAXY_LOGGING=full" galaxy16.01.1

I built a new docker container with the following Dockerfile:

    FROM quay.io/bgruening/galaxy:16.01

    MAINTAINER au

[2016-02-04 11:53] dpryan79 commented on #138
You'll have to use active mode FTP with those docker settings. See also here: https://github.com/bgruening/docker-galaxy-stable#using-passive-mode-ftp

[2016-02-04 23:14] mictadlo commented on #138
Unfortunately, I can not access anymore Galaxy with *--net=host*, but Supervisor shows that everything has started. My command looks like this

    docker run -d --net=host --privileged=true -v /home/galaxy/galaxy_storage/:/export -e "GALAXY_LOGGING=full" galaxy16.01.1

I also tried this without luck:

    docker run -d --net=host -p 8021:21 -p 8080:80 -p 8800:8800 -p 9002:9002 --privileged=true -

[2016-02-04 23:39] dpryan79 commented on #138
With `--net=host`, are you trying ports 8080/8021 or 80/21? Use the latter.

[2016-02-05 00:34] mictadlo commented on #138
Are the above commands wrong which I provided, because I can't access Galaxy in the browser?
I do not understand how should I try ports 8080/8021 or 80/21?

[2016-02-08 11:02] bgruening commented on #138
@mictadlo if you use `--net=host` your FTP Server is running on port  21 and Galaxy is running on port 80.
I'm pretty suer it is working as we test the FTP Server with travis here: https://github.com/bgruening/docker-galaxy-stable/blob/16.01/.travis.yml#L63 and 16.01 passes these tests.

[2016-02-13 16:25] bgruening commented on #138
I will close this for now. @mictadlo please feel free to reopen if you still have the same problem.

[2016-02-13 16:26] #138 closed

[2016-02-16 05:50] mictadlo commented on #138
Thank you it works

[2016-02-24 19:11] astewart-twist commented on #43
Probably the best way to do this would be through docker-compose (which is essentially fig).  You can start simple by just having a single-container composition (the current image), and gradually break-out processes into their own containers using official images (like nginx, postgres, etc).  That way you always have a standard and more-or-less static entry point into the deployment, but with the

[2016-02-26 10:35] dpryan79 commented on #132
I just tried this on a fresh pull of quay.io/bgruening/galaxy:16.01 and get the same error. It looks like the image hasn't been updated in a few weeks, so perhaps you just need to trigger a new build.

[2016-02-26 10:38] mvdbeek commented on #132
it should be fixed with https://github.com/galaxyproject/galaxy/issues/1769. You can probably just apply this diff https://patch-diff.githubusercontent.com/raw/galaxyproject/galaxy/pull/1769.diff

[2016-02-26 10:38] mvdbeek commented on #132
but yes, a rebuild would be good.

[2016-02-26 10:51] bgruening commented on #132
triggered ... on quary.io

[2016-02-26 12:55] bgruening opened #140 "bashrc file should be overwriteable by the user"
Change the export.py file.

[2016-02-26 13:58] dpryan79 commented on #53
FYI, after upgrading a few versions over the last month or two this is probably stable enough to work (I almost always get errors due but they're because tables apparently already exist...so it's not a real issue). The only possible issue is whether the scripts handle downgrading database versions (e.g., going from the current `16.01` tag `latest`, which is a database version downgrade.

[2016-03-01 19:35] jmchilton opened #144 "16.01 Cannot Mount an External Galaxy Source"
- [x] virtualenv should be managed outside of `/galaxy-central`. Just need to set `GALAXY_VIRTUAL_ENV` in every Galaxy environment.
- [ ] Deletes the config directory from galaxy source.

[2016-03-01 20:28] bgruening commented on #144
You mount in /galaxy-central with your own copy of Galaxy? And this does not work? Shouldn't Galaxy run common_startup.py in case there is no .venv?

[2016-03-03 14:15] jmchilton opened #146 "tool_deps should not be located in GALAXY_ROOT"
Clean GALAXY_ROOT should be the goal:

[code]

[code]

[code]

I could just update it, but preserving backward compatibility requires a bit of thought.

[2016-03-03 14:30] jmchilton commented on #144
Attempting to solve the first issue with this branch:
 - https://github.com/jmchilton/docker-galaxy-stable/tree/external_galaxy

And both issues with this branch:
 - https://github.com/jmchilton/docker-galaxy-stable/tree/external_galaxy_2

[2016-03-04 08:57] GuyReeves opened #147 "cannot follow manual install instructions for a tool- how does docker file structure differ"
Hi

I am trying to follow the following instructions to manually install a tool not available on the tool shed.
However the file structure for a conventional galaxy installation is different on docker.

 1. Create a directory called "ngsep" inside the "tools" directory of your
    Galaxy instance.
 2. Drop there all the xml scripts from this site.
..through to step 5   https://sourceforge.net/proj

[2016-03-04 09:15] bgruening commented on #147
In principle yes, but I don't think it needs to be so complicated.
The essential parts are:
* put your tools (the path the to XML files) into the config/tool_conf.xml file
* copy the jar file somewhere accessible by the Docker container
* change the jar path inside of your tools to reflect the actual path (can be a full path, starting with /export/)
* Tell the developer he should submit these tool

[2016-03-04 11:02] GuyReeves commented on #147
Hi Björn

Thanks for the information I will pass it along to the
To be honest (and I know it is a cop out) I set this tool up on my conventional galaxy instance.
I think the best thing all round would be in the pretty cool set of generally useful  tools was put in the tool shed- then using them in all systems would be easy.
Cheers Guy

[2016-03-06 14:22] bgruening commented on #147
So true!

[2016-03-06 14:22] #147 closed

[2016-03-06 14:24] bgruening opened #150 "Improve the condor changes"
Condor support was introduced in https://github.com/bgruening/docker-galaxy-stable/pull/145. @abdulrahmanazab promised some testing and documentation :)

This issue is to track the process and put all changes back into the ansible-extras playbook once everything is working.

* [ ] proper testing
* [ ] setup/config documentation
* [ ] contribute changes back into the ansible-playbook (startup scrip

[2016-03-07 13:04] tiagoantao opened #151 "LDAP support"
LDAP support does not work out of the box. This would be quite easy, just add
pip install python-ldap

[2016-03-07 14:42] bgruening commented on #151
Fixed in :dev.
Thanks!

[2016-03-07 14:42] #151 closed

[2016-03-08 11:29] GuyReeves opened #152 "how do I tell what version of galaxy I am running on docker ?"
Hi
I know this is a dumb question but how do I tell what version of galaxy I am running when using docker?
Thanks

Guy

[2016-03-08 11:34] mvdbeek commented on #152
Hi Guy, there are no dumb questions, really.
You can get the major version by going with your browser to
`<galaxy_url>/api/version`.
The changeset revision should be shown somewhere, especially when not doing a git clone.

[2016-03-08 12:07] bgruening commented on #152
100% agree with @mvdbeek :)

[2016-03-08 12:07] #152 closed

[2016-03-08 15:03] GuyReeves commented on #152
Thanks  it worked great

{"version_major": "15.07"}

Guy

[2016-03-08 15:05] bgruening commented on #152
You need to update  ;)

[2016-03-08 15:07] GuyReeves commented on #152
I am just looking for instructions that I can follow!

[2016-03-08 15:17] GuyReeves commented on #152
am I looking for docker specific instructions or general galaxy ones?

[2016-03-08 15:21] bgruening commented on #152
Are you using Docker or not?

[2016-03-08 15:22] GuyReeves commented on #152
I am using docker

[2016-03-08 15:34] bgruening commented on #152
1. make a backup of your Galaxy export folder ... maybe something goes wrong
2. just change your `docker run` command to point to a new version. For example `:16.01` at the end
3. see if it works ;)
4. if not start you container with `docker run -i -t -v YOUR_PATH:/export/ bgruening/galaxy-stable:16.01 bash`
5. run `startup.sh`
6. run the `manage_db.sh upgrade` script to update your Galaxy databas

[2016-03-08 15:49] GuyReeves commented on #152
thanks I will try that that.
Is the export folder called ‘galaxy-central’?

Thanks Guy

Ps I am also trying to sort out a conventional docker instance on biostars which you are also kindly answering questions on .

[2016-03-08 20:20] dpryan79 commented on #152
Make sure you make a database dump before starting the new container. I'm pretty sure I've updated from 15.05 to 16.01 without issue (except for getting errors from `manage_db.sh` related to tables already existing, but those aren't issues).

[2016-03-09 10:24] GuyReeves commented on #152
@dpryan thank I did back up the whole server

my current start up comand is
docker run -d  --net=host  -e "GALAXY_CONFIG_ALLOW_USER_DATASET_PURGE=True" -v /home/galaxy-user/galaxy_storage/:/export/ bgruening/galaxy-stable

so I ran

docker run -d  --net=host  -e "GALAXY_CONFIG_ALLOW_USER_DATASET_PURGE=True" -v /home/galaxy-user/galaxy_storage/:/export/ bgruening/galaxy-stable:16.01

which was up a

[2016-03-09 10:45] dpryan79 commented on #152
Have a look in `/home/galaxy/uwsgi.log`. You'll probably see complaints about the galaxy database version. If that's the case, yeah, move on to the other steps (in particular, the `manage_db.sh upgrade` step). Once the database is updated a `supervisorctl restart galaxy:` from within the container should get things back up.

[2016-03-09 11:05] GuyReeves commented on #152
Hi to access the log file do I need to access the container using ?
docker exec -it <container name> bash
thanks

[2016-03-09 11:21] dpryan79 commented on #152
Yeah, you need to be inside the container. So `docker exec -it some_hash_id /bin/bash` then `less /home/galaxy/uwsgi.log`. Use `docker ps` to get `some_hash_id`.

[2016-03-09 11:41] GuyReeves commented on #152
HI I just tried to find the log but I think I end up somewhere else in the 'galaxy-central directory' and I cannot find the home/galaxy/ directory??

galaxy-admin@evolgen054:~$ docker ps
CONTAINER ID        IMAGE                           COMMAND             CREATED             STATUS              PORTS                                NAMES
2cc6d2fd1df8        bgruening/galaxy-stable:16.01   "bash"

[2016-03-09 11:57] dpryan79 commented on #152
That's expected. When you enter the container you always start in `/galaxy-central`.

[2016-03-09 12:05] GuyReeves commented on #152
OK- but I do not really understand why I cannot see (ls -a)  or navigate to these folders.

but when I type
less /home/galaxy/uwsgi.log

there is not such file

[2016-03-09 12:13] dpryan79 commented on #152
That's...odd. What's in `/home/galaxy`?

[2016-03-09 12:14] bgruening commented on #152
@GuyReeves just exchange the `-d` with `-t -i` to see the log immediately.
Even more logs if you use `GALAXY_LOGGING` with `-e GALAXY_LOGGING=True`.

See more: https://github.com/bgruening/docker-galaxy-stable#magic-environment-variables

[2016-03-09 12:24] GuyReeves commented on #152
in the home folder is /galaxy
cd ..

in /galaxy are the following folders

.  ..  ansible  .bashrc  .cache  .distlib  .npm  .subversion  tmp  tool_sheds_conf.xml

[2016-03-09 12:32] dpryan79 commented on #152
@GuyReeves Try @bgruening's suggestion of increasing the log verbosity with `-e GALAXY_LOGGING=True` and then instead `docker logs some_container_id` to get the logs. Perhaps the logs are in a non-standard place on my systems due to an older configuration file.

[2016-03-09 16:06] GuyReeves commented on #152
Ok I think I have the logging working and can find the files.

If I try and follow Björn’s instructions

docker stop
if not start you container with docker run -i -t -v YOUR_PATH:/export/ bgruening/galaxy-stable:16.01 bash
galaxy-admin@evolgen054:~$ docker run -d --net=host -e "GALAXY_LOGGING=full" -v /home/galaxy-user/galaxy_storage/:/export/ bgruening/galaxy-stable:16.01 bash
68ab0eeed28942e0515

[2016-03-09 16:25] bgruening commented on #152
I updated my description. It should be `sh ./run.sh` and not `run run.sh`.

[2016-03-09 17:00] GuyReeves commented on #152
sorrx by all i get is

Id docker supposed to be running?  is this command to be run from a particular folder ?

Thanks

Guy
galaxy-admin@evolgen054:/$ sh ./run.sh
sh: 0: Can't open ./run.sh

alaxy-admin@evolgen054:/$ sudo sh ./run.sh
sh: 0: Can't open ./run.sh

[2016-03-09 17:03] bgruening commented on #152
You need to do this inside of the container, in your galaxy-dist dir.

[2016-03-09 17:04] dpryan79 commented on #152
For the sake of clarity, the galaxy-distribution directory is `/galaxy-central` by default.

[2016-03-11 13:13] GuyReeves commented on #152
I wanted to thank you both for all your help.  I took a days break and am trying to figure out how to update again
I have summarised all the steps I have done so far in this .pdf ( hopefully in a way that others might be able to follow).

Thanks
Guy
Ps   I was able to update my conventional galaxy instance to 16:01 after the 'git pull'  command failed but would like to understand how to update doc

[2016-03-11 15:44] mvdbeek commented on #132
Alright then, should be closed I guess.

[2016-03-11 15:44] #132 closed

[2016-03-11 21:39] tiagoantao opened #154 "Problems with multiple handlers"
I am having problems with the two galaxy handlers.

For example, if I add a new tool from the toolshed via the admin panel, one of the handlers does not see it (the other needs to be restarted).

While there is a variable GALAXY_HANDLER_NUMPROCS for supervisord, I suspect that the number of handlers is hard-coded on /etc/galaxy/job_conf.xml

[2016-03-11 22:14] bgruening commented on #154
@tiagoantao you can set the handler with some ENV magic. Please have a look here: https://github.com/bgruening/docker-galaxy-stable#magic-environment-variables

Restarting after tool installation is still necessary :(

[2016-03-12 12:29] tiagoantao commented on #154
But it is only necessary if you have several handlers, right?

[2016-03-12 14:45] bgruening commented on #154
@tiagoantao Yeah I guess so, but not entirely sure, never run Galaxy with handlers=1

[2016-03-12 16:12] tiagoantao opened #155 "Where is /usr/bin/startup ?"
While if I get the image from the hub, I do get it with /usr/bin/startup, if I try to build it from the github repository, it does not seem to be included (startup_lite is OK)

[2016-03-12 16:24] bgruening commented on #155
It's part of the https://github.com/galaxyproject/ansible-galaxy-extras playbook. We agreed with @jmchilton to move the few useful parts from the container over to playbooks to reuse them in other projects.

Please follow the instruction on the development section of our readme file:
https://github.com/bgruening/docker-galaxy-stable#development

You need to have the correct git-submodules to build

[2016-03-12 16:24] #155 closed

[2016-03-14 07:08] bgruening commented on #152
@GuyReeves so this is solved for you? Great! I will try to write this all together and put it into the readme file. Thanks!

[2016-03-14 08:08] GuyReeves commented on #152
Hi Björn

Writing it up in a readable concise  way  is what I have tried to do in the .pdf.

But unfortunately I was unable and at the point the text goes red is where it appeared to fail.

I do think I am close to the end though.

if you could help me with the last bit I will also write that up, which hopefully would help if you wanted to use this as a basis for instructions.

Cheers

Guy

[2016-03-14 08:11] bgruening commented on #152
@GuyReeves I missed you last missing piece. What is missing, how can we help?

[2016-03-14 08:18] GuyReeves commented on #152
The .pdf on this message is what i am talking about.

[2016-03-14 13:26] zfrenchee opened #156 "This tool was disabled before the job completed."
I've set up Galaxy, imported some tools, uploaded a dataset, and I'm trying to run SamTools Sort, but I get the following error immediately:

`This tool was disabled before the job completed.  Please contact your Galaxy administrator.`

I'm primarily wondering how I might be able to access the logs, but I'm also wondering what kind of error this is. Thanks!

[2016-03-14 18:12] bgruening commented on #156
@zfrenchee can you provide with your exact command how you start the Docker container? Do you have any modifications inside of the container? This error looks like your scheduler is not started, but this would be strange ...

Is any other tool working?

[2016-03-14 18:48] zfrenchee commented on #156
Every time I install a tool I restart the container, and this error goes away.

I launched the container with:
[code]

[2016-03-14 18:48] #156 closed

[2016-03-15 00:57] tiagoantao opened #157 "shouldn't /etc/galaxy be on /exports ?"
As per the subject, but the same applies to other servers also (proftd, ...)

[2016-03-15 08:18] dpryan79 commented on #157
root@solserv3:/galaxy-central# ls -l /etc/galaxy/
    total 12
    lrwxrwxrwx. 1 root   root     40 Feb 27 19:12 galaxy.ini -> /export/galaxy-central/config/galaxy.ini
    lrwxrwxrwx. 1 root   root     42 Feb 27 19:12 job_conf.xml -> /export/galaxy-central/config/job_conf.xml

I've never needed to change the proftpd server settings so I've not looked to see how/if the startup script deals with tha

[2016-03-15 08:41] bgruening commented on #157
@tiagoantao @dpryan79 the plan is to make everything configurable via the magic environment variables which can be passed into the container. For example everything that is in `galaxy.ini` can be configured via ENV ... Please let us know your use-case and we will try to make it more pleasant for you.

[2016-03-15 13:09] tiagoantao commented on #157
@dpryan79 : Interestingly mine do not have symlinks

Regarding proftpd (and galaxy as I need auth_conf.xml): I am using LDAP authentication.

FYI: I also have an external postgres server (not that that is a problem).

[2016-03-28 18:06] zfrenchee opened #161 "How to upload via FTP?"
I'm not sure how to send files to the galaxy server I have running via FTP. I've tried a couple things.

In the app, there's an upload file tool, which when you click the FTP button, has this message:

<img width="518" alt="screen shot 2016-03-28 at 1 57 52 pm" src="https://cloud.githubusercontent.com/assets/2761597/14085373/6b068b66-f4ed-11e5-9906-40f412133510.png">

I've tried opening a connecti

[2016-03-28 18:32] dpryan79 commented on #161
If you want things to "just work" then read [this section](https://github.com/bgruening/docker-galaxy-stable#using-passive-mode-ftp) from the readme.

[2016-03-28 18:54] zfrenchee commented on #161
I've started my container using that command and it ftp still does not work in those 4 cases. Which of them is even the right way of testing? What should the server be? What should the port be? And which username and pw? (the ones I use to ssh into the VM or the ones I have on the running galaxy instance?) A few words of guidance in this direction would be helpful.

[2016-03-28 19:11] dpryan79 commented on #161
If you started with the command listed there then galaxy would be on port 80 (unless you changed the configuration) and the FTP server on port 21 (the default for FTP). I'm also assuming that the server that there aren't any firewalls between you and the Galaxy server.

The username/password are whatever you use for Galaxy.

[2016-03-28 19:18] zfrenchee commented on #161
So for galaxy, I use user: `admin@galaxy.org`; pw: `admin` which are default for this repo. Cyberduck tells me that becomes: ftp://admin@galaxy.org@13.92.102.162:21/ which fails with message:

`Operation timed out. The connection attempt was rejected. The server may be down, or your network may not be properly configured.`

[2016-03-28 20:20] jennaj commented on #161
Jumping in and may be other ways to get this to work, but I've had success by creating an account in the UI, then using FTP with that. When I want that account to have "admin" privilages, I add the email for the account to the /config/galaxy.ini file, then restart.

[2016-03-28 20:44] zfrenchee commented on #161
Sorry about this. The error turned out to be specific to MS Azure, not galaxy or docker. Thankfully I fixed it.

[2016-03-28 20:44] #161 closed

[2016-03-28 22:00] bgruening commented on #161
@zfrenchee glad you solved this. Could you please add what you needed to change for Azure? This could be useful for others as well. If you want to can also add a small paragraph to the readme file.
Thanks!

@jennaj are you also using the Docker image?

[2016-03-29 07:50] bgruening commented on #157
@tiagoantao could you solve this?

[2016-03-29 13:28] tiagoantao commented on #157
@bgruening Sure, I will have a look and submit a PR.

[2016-03-29 17:07] jennaj commented on #161
@bgruening Not for this specific issue (testing). Workaround advice was based on Cloudman default install.

[2016-03-30 19:59] zfrenchee opened #163 "Permissions on /home/user/galaxy_storage"
I wanted to update the webpage at `/home/user/galaxy_storage/welcome.html` but even though I put new html file there and restarted my VM, the webpage didn't update, but maintained the old appearance, which I thought was strange. But then I found `/home/user/galaxy_storage/web/welcome.html`. So I tried to `cp welcome.html web/welcome.html` but `web/welcome.html` was write-locked or something, so na

[2016-03-30 23:36] bgruening commented on #163
@zfrenchee you don't need to touch the container. Our aim is that you never need to change anything inside of the container. Please have a look at this section in our readme file: https://github.com/bgruening/docker-galaxy-stable#personalize-your-galaxy

[2016-03-31 16:39] zfrenchee commented on #163
My problem right now is that i need to properly set the permissions on `/home/user/galaxy_storage` so that nginx serves galaxy and not a 403. I'm not sure what the default permissions on that folder were, before I screwed them up.

[2016-03-31 16:42] bgruening commented on #163
try `chown galaxy:galaxy /export/ -R`

[2016-03-31 16:47] zfrenchee commented on #163
I get `chown: invalid user: ‘galaxy:galaxy’`. I'm considering just throwing it all away and trying again, but that would be kind of a waste I think, if there's a single `chown` or `chmod` command which will fix everything.

[2016-03-31 16:48] bgruening commented on #163
You need to do this from inside of the container.

[2016-03-31 16:50] adefelicibus commented on #163
@zfrenchee You can try this:
`sudo chwon 1450:1450 /export/ -R`

The UUID 1450 refers to the galaxy user inside the container.

[2016-03-31 20:44] zfrenchee commented on #163
Something kind of strange is happening.

So in order to run the commands inside the container, I assume i need to use `docker attach` which when I do, I get an error that repeats (and outputs a lot onto my command line), the crux of which seems to be:

[code]

Without being able to get into the container, it seems like the /export/ doesn't exist, and so I'm having a hard time using that command.

[2016-03-31 21:34] adefelicibus commented on #163
If you want to access files inside the container, you can use:
`docker exec -it container bash`.
When you use `docker run`, it creates a new container.

So, if you did the command `chown`, maybe the problem is that the postgre user is different.
Inside the folder `/home/user/galaxy_storage` there is maybe a folder of postgre database.

If so, you need to set the UID to postgre user:
`sudo chown 15

[2016-03-31 21:42] zfrenchee commented on #163
I think the problem isn't inside the container but actually with the permissions of everything inside home/user/glalaxy_storage, since that's what I modified. running `docker exec -it bash` and then `chown` also didn't work. Thanks for bearing through this with me! =)

[2016-03-31 21:47] bgruening commented on #163
@zfrenchee: @adefelicibus has a good point the postgresql database need to be set to the postgresql user.
Can you tell us which services do not start after changing the permissions?

Have you ever used chmod on the entire directory? If so this can be a bigger problem, because a few services will not start if you have the wrong octal permissions set.

[2016-04-01 14:35] zfrenchee commented on #163
I think that I did in fact chmod the entire directory (see the original issue text for a description of what I did). I think I need to reset the octal permissions set to what it was before I fudged with it, but I don't know what it was before.

[2016-04-01 15:26] zfrenchee commented on #163
This is what I think you're asking I try, but I'm not getting it to work.
[code]

[2016-04-01 15:52] zfrenchee commented on #163
[code]

I just hope it doesn't relate to this: https://github.com/docker/docker/issues/6047

[2016-04-01 18:31] zfrenchee commented on #163
So since I wasn't making progress on this alone, I spun up a new VM, installed docker, ran this galaxy container on it, installed all the tools I needed, re-uploaded the data, etc..

Now, I still want to customize welcome.html, but I'm still having trouble with it. On this new vm:
[code]

I know now not to try and blindly chmod or chown anything in here lest I need to start from scratch again. I d

[2016-04-03 10:06] bgruening commented on #163
alex@galaxy-1:/home/user$ ps -ef | grep nginx
root      7789  7786  0 Mar31 ?        00:00:00 nginx: master process /usr/sbin/nginx
1450      7793  7789  0 Mar31 ?        00:00:00 nginx: worker process
alex     25776 25737  0 15:09 pts/0    00:00:00 grep --color=auto nginx
alex@galaxy-1:/home/user$ sudo chown -R 1450:1450 *
[code]

[2016-04-04 20:16] zfrenchee commented on #163
What I'm trying to say is that I'm not sure those instructions to personalize galaxy work. The instructions are:
[code]
But as I reported above, when I try to do that:
[code]
note: galaxy-2 is not the same as galaxy-1 (which is the instance I initially reported this for), it's a new VM, with a fresh install of docker and galaxy, but I'm still running into a similar problem.

[2016-04-04 20:36] dpryan79 commented on #163
The instructions work correctly, we use this method for both our public and private methods. Try `ls -la /home/user/galaxy_storage`. The output will tell you why you might be lacking permissions. You'll want to have everyone able to read the web page, so go ahead and `chmod a+r` that directory.

[2016-04-04 20:41] zfrenchee commented on #163
The output I get is:
[code]

If I chmod and get a 403 again and can't recover the galaxy instance that would be a huge pain. Are you sure that's what I should do?

[2016-04-04 21:09] dpryan79 commented on #163
Ah, you're not running as root or prefixing things with `sudo`. Either `su root` or `sudo cp /some/path/welcome.html /home/user/galaxy_storage/welcome.html`. Since you need to be either root or have sudo privileges to run docker one of these is possible. Make sure to `chmod a+r /home/usr/galaxy_storage/welcome*` to ensure that the web server can actually read the webpages (I've certainly forgotten

[2016-04-05 00:15] zfrenchee commented on #163
I followed your instructions, but the page isn't with welcome.html's content. I've restarted the docker container a number of times, and even tried restarting the VM. Not sure what else I can do.

[2016-04-05 00:30] zfrenchee commented on #163
Nevermind, it just arbitrarily started working after the fifth restart. =)

[2016-04-05 00:30] #163 closed

[2016-04-05 07:10] dpryan79 commented on #163
Glad to hear it. You could have also cleared your browser cache and saved yourself the the last four restarts :)

[2016-04-12 07:39] bgruening commented on #150
@abdulrahmanazab any news here? Could you test it? There is a new Galaxy release soon and we need to get this properly supported before :)

[2016-04-12 15:48] hcountou opened #166 "LDAP admin issue"
Hi,

thanks for your great work on docker & galaxy.

I face a little problem regarding the LDAP conf in your dockerized galaxy instance.

It's up and running ! But if i set an admin in the config file with either the email adress or the LDAP id it's not. I'll be logged only as a normal galaxy user.

Any idea where to set that properly ?

Hector

[2016-04-12 19:28] bgruening commented on #166
Hi  @hcountou!

How have you set the admin user? With the `-e` parameter during startup?

[2016-04-15 19:10] zfrenchee opened #167 "How to setup/use Pulsar with docker-galaxy should be in the README"
I see that there's a pulsar folder in galaxy-central/lib but I'm not sure how to go about setting up pulsar for this dockerized build of galaxy. If you help me figure it out (e.g. in this issue thread) I'm happy to write it up and submit it as a PR.

[2016-04-15 20:16] adefelicibus commented on #167
@zfrenchee I'm developing a simple docker-pulsar image to be used as a client to this dockerized build of Galaxy. You can check it at this [link](https://github.com/adefelicibus/docker-pulsar).
I'll push this to Docker hub as soon as I can, but if you want you can clone and build your image using the DockerFile.
To configure galaxy, you can follow all the documentation about it and edit the job_co

[2016-04-26 00:36] zfrenchee opened #169 "Docker commit"
Hi Bjoern,

Just wanted to continue our conversation about docker commit, and bring this issue to light. I've done a quick experiment:
1. Start a vm, install docker, pull and run bgruening/galaxy-stable, check that it works. it does.
2. Commit the container as zfrenchee/docker-galaxy-experiment, no modifications made at all.
3. Kill bgruening/galaxy-stable and run zfrenchee/docker-galaxy-experimen

[2016-04-26 00:36] #167 closed

[2016-04-27 09:50] ThomasWollmann opened #170 "Using Parent docker not working"
I want to use "Using Parent docker" option within docker-compose. I get no error in the log but galaxy can't connect e.g. to an ie. Docker-compose snipped is below:

[code]

[2016-04-27 09:53] ThomasWollmann opened #171 "IE not working in docker-galaxy-stable:dev"
When trying to start an IE in docker-galaxy-stable:dev I get the following error:
`galaxy.webapps.galaxy.controllers.visualization ERROR 2016-04-27 09:52:18,539 error rendering visualization (rstudio): 'NoneType' object has no attribute 'handle_requests'`

Maybe this is not an issue of docker-galaxy but galaxy 16.4 itself.

[2016-04-27 11:14] ThomasWollmann opened #172 "docker not starting in docker-galaxy-stable:dev with privileged=false"
n.t.

[2016-04-28 05:14] ThomasWollmann commented on #39
Related:
#172 #170 #171

[2016-04-28 08:34] mvdbeek commented on #170
So can you start docker images inside the galaxy container?
That would be the first requirement.

[2016-04-28 08:48] ThomasWollmann commented on #170
For me it works if I exec "docker run --privileged docker-galaxy-stable" within the container, I can see the running container outside of the main container with "docker stats". Introducing docker Galaxy in docker Galaxy ;)

[2016-04-28 10:34] mvdbeek commented on #170
alright, so that's the first step. A few things you could do from here:
Take a look at `supervisorctl status` inside the galaxy container (I think node should be running). Then Monitor the galaxy logs while you start a container from the UI.

[2016-04-28 11:32] ThomasWollmann commented on #170
I get: 'Error response from daemon: Container command '/export/galaxy-central/database/job_working_directory/000/239/tool_script.sh' not found or does not exist.'

[2016-04-28 11:53] mvdbeek commented on #170
This is quite surprising then, are you able to run simple tools?
E.g. just uploading a file? this looks like a general problem with the execution of tools.

[2016-04-28 11:58] ThomasWollmann commented on #170
Yes it works.

[2016-04-28 12:28] mvdbeek commented on #172
That can't be done, docker in docker always needs full privileges.

[2016-04-28 12:35] ThomasWollmann commented on #172
I mean you can't do "docker run bgruening/galaxy-stable:dev". That should work?

[2016-04-28 12:38] mvdbeek commented on #170
Which environment are you starting? If I remember well there were some issues with Rstudio, but Jupyter was working fine, I'm testing this again.
One thing that strikes me, have you forwarded port 8800 from docker to your local machine?
It shouldn't be necessary anymore with https://github.com/galaxyproject/ansible-galaxy-extras/pull/53/files ... but I'm not sure thats included and configured in t

[2016-04-28 12:41] mvdbeek commented on #172
Correct me if I'm wrong @bgruening, but that's not a critical error. You can use galaxy just fine, you just can't start docker images in docker.

[2016-04-28 16:31] ThomasWollmann commented on #170
I started a tools that uses the local docker runner. When I start an IE I get the error from #171.

[2016-04-28 20:06] bgruening commented on #172
@mvdbeek this error is nothing critical, but @ThomasWollmann is also correct current :dev is a little bit too much :dev. I will look at this over the weekend hopefully. We merged initial support for HTCondor into Galaxy and this modified the startup script so I suppose something is wrong with it.

Bioblend travis tests also times out with one of it's tests. Not sure if this is a Galaxy bug or a Do

[2016-04-28 20:08] bgruening commented on #170
Current stable should have the latest ansible-playbooks integrated. If this was the question. @ThomasWollmann running Docker as Job-Runner worked for you?

[2016-04-28 20:33] ThomasWollmann commented on #170
No that's the reason for the ticket.

[2016-04-29 09:17] ThomasWollmann commented on #170
The additional log:

[code]

[2016-04-29 09:36] ThomasWollmann opened #173 "Git Clone in Dev"
I suggest to use a git clone instead of an archive download in dev. It would also make it easier to add an own remote for testing new flavour features.

[2016-05-01 13:31] bgruening commented on #173
I can do this starting with the next release. Ideally you can simply replace the in-container Galaxy instance with a local one. Can you test if this is possible and a workable alternative for you?

[2016-05-03 10:35] ThomasWollmann opened #174 "Shared Workflow "Internal Server Error""
When clicking on a shared workflow(http://localhost/u/admin/unnamed-workflow) I receive an "Internal Server Error" Error. Log is below:

[code]

[2016-05-03 11:30] bgruening commented on #174
Is this on :dev?

[2016-05-03 13:32] ThomasWollmann commented on #174
It was on :dev. Maybe I'll switch "bgruening/galaxy-imaging" back to stable since dev is really dev.

[2016-05-03 15:57] zfrenchee commented on #169
@bgruening any ideas on this? I haven't found anything in my research that suggests `docker commit` should ever fail this way.

[2016-05-03 15:59] bgruening commented on #174
Reported upstream, thanks!

[2016-05-03 15:59] #174 closed

[2016-05-03 16:15] bgruening commented on #169
@zfrenchee as I wrote too you this is kind of a special use-case that we do not support, at least I have never tested it.
I guess the problem is that we copy/link everything into `/export` to make the Galaxy content sustainable. If you commit your changes these will be committed I guess, but a start of the new container will run the old startup script that will try again to copy/link everything? A

[2016-05-04 17:32] erasche opened #175 "SNI Missing"
[code]

[2016-05-04 17:54] zfrenchee opened #176 "FXP"
I want to be able to transfer data from a server to docker-galaxy (running on another server). This is server-to-server ftp, often called fxp. It seems like this should be possible, but I haven't been able to manage it. Is there some configuration that needs to be put in place on our galaxy instance in order to allow this? Or is galaxy never able to do this?

[2016-05-04 19:23] bgruening commented on #176
@zfrenchee I don't think this is a Galaxy problem. Do you know if proftpd can handle this? If so do you know how to configure it?

[2016-05-04 19:36] bgruening commented on #175
@erasche can you test the dev branch in an hour. Maybe we have fixed it.

[2016-05-04 20:14] bgruening commented on #175
@erasche was this a build issue? I see this now during build and it was not there yesterday!

[2016-05-04 20:16] zfrenchee commented on #176
From the ProFTPd Docs:

[2016-05-04 20:21] bgruening commented on #176
So if you add `AllowForeignAddress On` to your proftpd.conf this is working for you?

[2016-05-05 00:01] mictadlo opened #177 "new tool is missing in the tool bar"
Hello,
I added the following tools to my Dockerfile:

    RUN install-repository \
	"--url https://toolshed.g2.bx.psu.edu -o pjbriggs --name macs21 --panel-section-name NGS:_Peak_Calling_Youtube" \
	"--url https://toolshed.g2.bx.psu.edu -o pjbriggs --name rnachipintegrator --panel-section-name NGS:_Peak_Calling_Youtube"

Next, I updated the docker container with the following command:

    docker

[2016-05-05 15:42] zfrenchee commented on #176
It doesn't seem to. I imagine I would need a lowercase O in "On" (like the rest of the file). Still doesn't work. Would i have to change any of the other configuration settings? Here's most of the file:

[code]

[2016-05-05 16:14] zfrenchee commented on #176
@bgruening one thing I wanted to try was to try to use command line to try to ftp files from within the docker-galaxy container to our other server, but it doesn't seem that's possible either. The pftp/ftp program doesn't seem to be installed in the container and I don't know how to get it either (apt-get doesn't have it). I'm not quite sure how to debug this. Do you have any insights into how ftp

[2016-05-06 06:45] dpryan79 commented on #176
`apt-get install ftp` will install the ftp client in the container (I just checked).

[2016-05-06 12:59] zfrenchee commented on #176
This doesn't work for me.

[code]

[2016-05-06 13:01] dpryan79 commented on #176
Try an `apt-get update` beforehand. This worked on a local container with the most recent release in it-

[2016-05-08 09:52] bgruening commented on #177
Mic, can you check the admin section if all tools are green? Can you share the Dockerfile if all tools are green?
From the logs everything looks fine? Browser cache?

[2016-05-08 10:08] bgruening commented on #176
@zfrenchee;
as @dpryan79  mentioned you can install everything from Ubuntu with:

[code]

I have never played with site-to-site FTP but if you figure out how to set up proftpd we can integrate this optional feature into the base image.
Thanks!
Bjoern

[2016-05-10 08:48] mictadlo commented on #177
@bgruening As soon as I mounted an empty folder -v /home/galaxy/galaxy_storage2/:/export to the container the new tool appeared together with the old ones.

This is my Dockerfile:

    # Test

    FROM quay.io/bgruening/galaxy:16.01

    MAINTAINER auto script

    ENV GALAXY_CONFIG_BRAND Kevin's Galaxy
    ENV GALAXY_CONFIG_SERVE_XSS_VULNERABLE_MIMETYPES True

    WORKDIR /galaxy-central

    RUN

[2016-05-10 09:10] bgruening commented on #177
@mictadlo you are using two different use-cases that are not compatible with each other ... more or less two separate Galaxy instance if I understood you correctly.

Such a Docker file (and this one is a great one ... good work!) creates you a new Galaxy flavour with its own database and tools.
If you use a plain Galaxy Docker image and use the export folder you more or less export an entire Galax

[2016-05-11 18:08] bgruening commented on #172
@ThomasWollmann I have fixed a few issues in latest dev and rebuild everything. Can you please test and close Issues as you find it working :)

[2016-05-12 08:19] #172 closed

[2016-05-12 08:23] ThomasWollmann commented on #170
Still not working with current dev

[2016-05-12 09:18] ThomasWollmann opened #179 "Upgrade ansible-galaxy-extras"
Please upgrade ansible-galaxy-extras to get the recent fixes.

[2016-05-12 09:20] ThomasWollmann commented on #179
Nevermind dev has a new checkout.

[2016-05-12 09:24] ThomasWollmann commented on #179
... I was correct ;) I need: https://github.com/galaxyproject/ansible-galaxy-extras/commit/0336feb3d90a49681608c2163b87ee153c906f27

[2016-05-12 09:26] ThomasWollmann commented on #171
Jupyter is working for now RStudio not.

[2016-05-12 09:37] bgruening commented on #179
I accept PR ;)

[2016-05-12 09:40] bgruening commented on #171
Awesome! I'm not an RStudio expert will need time to dig into it. But glad Jupyter is working.

[2016-05-12 09:43] ThomasWollmann commented on #171
I don't need RStudio so you don't have to rush.

[2016-05-13 14:24] adefelicibus opened #181 "message_box doesn't apper"
I've set the params:

but the message doesn't apper on the page.
In a standalone Galaxy installation it works.

Is there another param to set it up?

[2016-05-13 14:35] bgruening commented on #181
@adefelicibus where have you set it?
Can you follow these notes: https://github.com/bgruening/docker-galaxy-stable#galaxys-config-settings and start the container with `-e GALAXY_CONFIG_MESSAGE_BOX_VISIBLE=True`

[2016-05-13 16:45] adefelicibus commented on #181
@bgruening I've set this in the galaxy.ini file and also started the container with `-e GALAXY_CONFIG_MESSAGE_BOX_VISIBLE=True`.

The docker run is: `docker run -d -p 8080:80 -v /mnt/:/export/ --name galaxy -e GALAXY_CONFIG_MESSAGE_BOX_VISIBLE=True test/galaxyserver-test`, where test/galaxyserver-test is just a commit from bgruening/galaxy-stable.

Even if I try `docker run -d -e GALAXY_CONFIG_MES

[2016-05-13 18:29] bgruening commented on #181
You last comment is not working because you are missing the `show` parameter. This one works for me:

[code]

[2016-05-16 11:14] adefelicibus commented on #181
I used this command and it works for me.
I was using an old image. After I updated the image, it works.
Thank you for the support.

[2016-05-16 11:14] #181 closed

[2016-05-18 21:33] #175 closed

[2016-05-20 08:11] ThomasWollmann commented on #170
I want to mention  that it is also not working without using the DOCKER_PARENT. Therefore tools with docker dependencies are not working for me. Still the same error with the current galaxy version. In addition "<param id="embed_metadata_in_job">False</param>" doesn't help.

[2016-05-23 14:28] hcountou commented on #166
Sorry for my late answer. We got it. It was a simple confusion. If you use LDAP you've to give the id in the galaxy.ini file and not the mail adress even if you can connect with both.
I've another question. How can you deal with quotas once and for all on the launch of the docker file and not through the admin webpage. As we use your dockerized version of Galaxy, we can't figure it out.
Any idea ?

[2016-05-23 15:13] bgruening commented on #166
@hcountou glad you could figure out this problem!
Have you tried to set quota via the Galaxy API. Please have a look at [bioblend](https://github.com/galaxyproject/bioblend).

I will close this issue now, but feel free to keep questions coming :)

[2016-05-23 15:13] #166 closed

[2016-05-24 14:16] zfrenchee opened #183 "SMTP config"
Hi Bjoern,

I'm trying to set up my galaxy so that users must be approved by an admin, which requires an smtp server configuration. I'm trying to use my gmail as that server, as in [this example](https://www.digitalocean.com/community/tutorials/how-to-use-google-s-smtp-server).

I've gone into the container and changed galaxy.ini to the following:

	# To do this, it needs to send mail through an S

[2016-05-24 14:21] bgruening commented on #183
I have not done this before :)
Do you have any error message from the Galaxy log? Anything that indicates why it is failing to send mails?
At which point do you see this error during user-creation?

[2016-05-24 14:43] zfrenchee commented on #183
Relevant Logs:

	Traceback (most recent call last):
	  File "lib/galaxy/webapps/galaxy/controllers/user.py", line 849, in send_verification_email
	    util.send_mail( frm, to, subject, body, trans.app.config )
	  File "lib/galaxy/util/__init__.py", line 1240, in send_mail
	    s.login( config.smtp_username, config.smtp_password )
	  File "/usr/lib/python2.7/smtplib.py", line 622, in login
	    rai

[2016-05-24 14:48] #183 closed

[2016-05-24 14:51] bgruening commented on #183
@zfrenchee do you want to document this ;)

[2016-05-24 14:57] zfrenchee commented on #183
I would, the trouble is that I'm still not clear on how to do this properly. As previously discussed, manually changing galaxy.ini isn't a good way to change the configuration of a docker-galaxy container. I don't feel like I can document this sort of thing until I understand any part of what's going on! =o

What's the proper way of changing the config for good?

[2016-05-24 15:03] bgruening commented on #183
The way to go is to use Galaxy config settings via environment variables. I have described it here: https://github.com/bgruening/docker-galaxy-stable#galaxys-config-settings

So you pass your parameters during `docker run`

[2016-05-24 15:07] zfrenchee commented on #183
Okay. I suppose I hadn't read that section carefully enough. Is there any way to put these environment variable config settings in a file (since I change about 10-15 of them?)

[2016-05-24 15:09] bgruening commented on #183
Not that I know of. But you can create a bash script to start your container and put everything in this file.

[2016-05-25 08:53] ThomasWollmann commented on #170
Update: When starting without --privileged I get: "Cannot connect to the Docker daemon. Is the docker daemon running on this host?"

[2016-05-25 09:20] ThomasWollmann commented on #170
Finally I got it working by adding the following to the job_conf.xml:

`<param id="docker_volumes">$defaults,/export/galaxy-central/database/job_working_directory:rw</param>`

Why it isn't mounted by default and why $defaults doesn't contain the working directory?

[2016-05-25 09:20] #170 closed

[2016-05-25 09:25] ThomasWollmann commented on #171
RStudio is now also working! Maybe it had something todo with: https://github.com/bgruening/docker-galaxy-stable/issues/170

[2016-05-25 09:25] #171 closed

[2016-05-25 09:57] #179 closed

[2016-05-25 11:19] bgruening commented on #179
Thanks for closing!

[2016-05-25 11:22] bgruening commented on #170
Interesting ... thanks for figuring this out. I scheduled it for this weekend, now I have free - awesome! :)
I need to think about the $defaults. But this probably needs to be fixed in Galaxy.

Thanks again!
Bjoern

[2016-05-25 19:27] zfrenchee opened #184 "FTP from the command line"
I can ftp files from cyberduck using these credentials, but I can't seem to FTP files using command line ftp programs. Why is that?

[code]

[2016-05-25 19:31] zfrenchee commented on #184
[code]

[2016-05-25 19:31] #184 closed

[2016-06-03 10:01] dpryan79 opened #186 "rpy2/rpy in Galaxy .venv"
Perhaps this is already fixed in a more recent container version, but at least in the `release_16.01` container, rpy2 is installed outside of the Galaxy virtual env (/galaxy-central/.venv). I would have expected one of the Galaxy setup scripts to take care of this, but apparently that wasn't happening. Because of this, things like the "summary statistics" tool aren't running (the fact that these n

[2016-06-03 10:17] bgruening commented on #186
@dpryan79 I'm more in favour of removing more and more dependenvies from the container and fix the requitrement of tools with conda packages. If we would offer a conda package for this tool would this work for you as well?

[2016-06-03 11:56] dpryan79 commented on #186
Fine by me, though this is one of the base tools that comes with Galaxy so I'm not sure how/if conda tool dependencies work with that. I'm mostly surprised that the Galaxy installation scripts didn't already take care of this.

[2016-06-03 12:07] bgruening commented on #186
I guess this was never part of the Galaxy dependencies. This script goes back at time where you needed to install and maintain dependencies by your own.
Is the only tool that does not work `summary statistics` and the only dependency is `rpy2`? If so this commit should solve your problem assuming you have conda dependencies enabled: https://github.com/bgruening/galaxy/commit/b70b944365201377b69d1c

[2016-06-03 12:37] dpryan79 commented on #186
At least it's the only one someone has submitted a bug report to me about :)

That fix looks good to me, feel free to close this if you like.

[2016-06-06 18:14] tiagoantao commented on #151
@bgruening I have just installed the 16.04 and the problem still occurs. This can be solved by

``pip install ldap``

inside the virtual environment

[2016-06-06 20:07] bgruening commented on #151
@tiagoantao can you try this branch please: https://github.com/bgruening/docker-galaxy-stable/pull/187

[2016-06-07 23:13] tiagoantao commented on #151
Its currently not building:

`python: can't open file '/usr/local/bin/create_galaxy_user.py': [Errno 2] No such file or directory`

[2016-06-08 10:49] hrhotz opened #188 "the opposite of "startup" in a interactive session"
Hi

I might have overlooked the obvious....but how do I 'kill' the galaxy server in an interactive session after using the "startup" script.  'Control C' works but that might be too harsh? especially in cases, where I mount a local folder with the '-v'option (eg: -v /home/user/galaxy_storage/:/export/ )

Regards, Hans-Rudolf

[2016-06-08 11:08] bgruening commented on #188
`Control-C` is completely fine as what you are seeing is just a `tail -f *.log`. You will not kill any process besides tail.

[2016-06-08 11:09] bgruening commented on #188
As reference: https://github.com/galaxyproject/ansible-galaxy-extras/blob/master/templates/startup.sh.j2#L182

[2016-06-08 11:41] hrhotz commented on #188
ok, I see, I was completly on the wrong track with 'Control C'.......still, how do I nicely kill the galaxy server, the postgreSQL server, etc to make sure, I do not end up with corrupted SQL tables in the '/export/' directory?
I would imagine a set of commands like:

killall -u galaxy   # still not a very nice way

/usr/lib/postgresql/9.3/bin/pg_ctl stop -D /export/postgresql/9.3/main -m i   #nee

[2016-06-08 11:49] bgruening commented on #188
The container is using [supervisord](http://supervisord.org) to manage processes. So for example `supervisorctl stop all` will stop all running processes. `supervisorctl stop galaxy:` (the colon is important) will stop all Galaxy related services (the [Galaxy group](https://github.com/galaxyproject/ansible-galaxy-extras/blob/master/templates/supervisor.conf.j2#L190)).

`supervisorctl stop postgres

[2016-06-08 12:49] hrhotz commented on #188
brilliant! that is exacttly what I have been looking for  - Thank you very much

(sorry, should have figured it out myself, if i had read your README.md file completely  :(  )

[2016-06-08 12:51] bgruening commented on #188
@hrhotz no problem! To you think it's time to move the readme to readthedocs? Or is it still ok the way it is currently?

[2016-06-08 12:51] #188 closed

[2016-06-08 13:10] hrhotz commented on #188
keep it in the readme for now

[2016-06-08 15:59] bgruening commented on #151
Where do you see this error?
I see that it get's build but the bioblend tests are failing. Seems like the container is not up but we are starting to test the API. Wired why this happens in this PR.

[2016-06-18 01:00] bgruening opened #189 "Galaxy Docker workshop at GCC and our first tutorial"
We will provide a workshop for the Docker Galaxy Project at GCC 2016.
The abstract is:

```In this session you will learn the internals of the Docker Galaxy Image. We will show you tips and tricks on how to run the Galaxy Docker Image successfully in production, how to manage updates and how to bind the container to a cluster scheduler. Moreover, you will learn how to create your own Galaxy flavou

[2016-06-18 12:42] mvdbeek opened #190 "Sync dockerhub with quay.io or edit README.md"
The docker image on the hub is still running 16.01, while in the README you're handling the `<env file/>` tag, which is 16.04. I think we should systematically change bgruening/docker-galaxy-stable to quay.io/bgruening/galaxy. What do you think, @bgruening ?

[2016-06-18 13:14] bgruening commented on #190
It seems this is the best way forward. I have a dockerhub ticket oben since 3 month and they claim to work on a backend issue, nothing happens. It makes me sad to see how unreliable this service is today :(

[2016-06-18 13:23] mvdbeek commented on #190
We've got the automatic pushing enabled from travis, this hasn't had any hiccups yet, but we do try twice:
https://github.com/ARTbio/ansible-artimed/blob/master/deploy.sh. Maybe that would be an option? Cause in reverse I often have trouble downloading from quay, and dockerhub works fine :/.

[2016-06-18 13:39] bgruening commented on #190
Mh, interesting never hadn't problems with downloading. Pushing is definitely an option but we also need to have the automatic build triggered as soon as the stable release got an bug fix.

Let's change the default image name for now. it not possible to push to an automatic build, isn't it?

[2016-06-18 13:54] mvdbeek commented on #190
Not sure I understand the problem.
We're pushing directly from travis if the master-branch has any changes:
[code]

[2016-06-18 13:55] mvdbeek commented on #190
But yeah, let's change it to quay, I think the network problems mostly come from our end at the university.
From the cloud i never had any problem.

[2016-06-18 13:56] bgruening commented on #190
But we need to rebuild when the parent layer has changes and the Galaxy stable branch (e.g. release_16_04) has changed.

[2016-06-18 14:12] mvdbeek commented on #190
Ah, OK, I get it. Yeah, I don't think travis can listen to docker/quay triggers (But that would be super cool).

[2016-06-29 14:07] soichih opened #195 "High CPU usage while Idling."
I've installed the docker-galaxy-stable container and it shot up CPU load.

![screenshot-int sca iu edu 2016-06-29 10-01-27](https://cloud.githubusercontent.com/assets/923896/16454895/7c5f3688-3de0-11e6-877e-16f158554be0.png)

I am not doing anything with the UI or running jobs, etc.. As far as I know, Galaxy should be idling doing nothing. Is this normal? I see "uwsgi" process that's constantly s

[2016-06-29 15:12] bgruening commented on #195
@soichih this should not consume more resources as a normal Galaxy instance. Maybe this is a Docker problem? On which OS are you running it?

[2016-06-29 15:14] soichih commented on #195
I am running it on CentOS7 VM instance.

[code]

[code]

[2016-06-29 16:33] soichih commented on #195
OK.. I've restarted the container and this time I am not seeing any issues. CPU load is remaining low. I will update this thread if the problem reoccurs.

[2016-06-29 17:51] bgruening commented on #195
@soichih ok. Thanks for reporting back. I hope this was just a Docker hickup.

[2016-06-29 17:51] #195 closed